telenorsms/sample/node-red-user/flows_joW520.json
[{"type":"tab","id":"dad71e0b.2528e","label":"Geonames+Yr"},{"type":"tab","id":"5a11d0e.fa5ee3","label":"Geonames"},{"type":"tab","id":"d8088f6b.27f77","label":"https"},{"type":"tab","id":"a62c67b8.59d398","label":"Telenor SMS"},{"type":"tab","id":"3f3d92e3.c0c26e","label":"Yr"},{"id":"7477d3fd.8b882c","type":"http response","name":"Return place","x":636.0000343322754,"y":89.75000095367432,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"96ae5328.6951b","type":"http in","name":"","url":"/geonamesplace","method":"get","x":123.00000762939453,"y":88.75,"z":"5a11d0e.fa5ee3","wires":[["d1f848ae.2e07b8","aafb3c09.5504c"]]},{"id":"72ce12fd.8d31ec","type":"debug","name":"","active":true,"console":"false","complete":"false","x":623.5000343322754,"y":169.9999942779541,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"d1f848ae.2e07b8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":314.50002670288086,"y":56.25,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"2825ba14.d7da46","type":"http in","name":"","url":"/geonamespost","method":"post","x":121.25001525878906,"y":141.49999332427979,"z":"5a11d0e.fa5ee3","wires":[["aafb3c09.5504c"]]},{"id":"d398039e.2c68","type":"http in","name":"","url":"/geonamestimezone","method":"get","x":125.00001525878906,"y":303.1136474609375,"z":"5a11d0e.fa5ee3","wires":[["1e781d89.e187e2"]]},{"id":"bffbcbaa.400438","type":"debug","name":"","active":true,"console":"false","complete":"false","x":585.0000305175781,"y":358.61364936828613,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"5a102ac4.a5efd4","type":"http response","name":"Return timezone","x":596.5000610351562,"y":278.6136474609375,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"c3c14131.3c3ec","type":"http in","name":"","url":"/geonamessearch","method":"get","x":116.09091186523438,"y":475.0909118652344,"z":"5a11d0e.fa5ee3","wires":[["169a4f0f.e965b1"]]},{"id":"adb75b0.f5248a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":545.0909423828125,"y":525.0909423828125,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"c1f569f6.3e0a98","type":"http response","name":"return search","x":546.0909118652344,"y":444.0909118652344,"z":"5a11d0e.fa5ee3","wires":[]},{"id":"91eac0e0.6e154","type":"http in","name":"","url":"/timezonepost","method":"post","x":126.09091186523438,"y":368.0909118652344,"z":"5a11d0e.fa5ee3","wires":[["1e781d89.e187e2"]]},{"id":"ba0aa444.45f558","type":"http in","name":"","url":"/searchpost","method":"post","x":114.09091186523438,"y":547.0909729003906,"z":"5a11d0e.fa5ee3","wires":[["169a4f0f.e965b1"]]},{"id":"aafb3c09.5504c","type":"lookup place","latitude":51.5073,"longitude":-0.1273,"style":"FULL","username":"demo","debug":true,"name":"","x":416.0909118652344,"y":122.09091186523438,"z":"5a11d0e.fa5ee3","wires":[["7477d3fd.8b882c","72ce12fd.8d31ec"]]},{"id":"1e781d89.e187e2","type":"lookup timezone","latitude":40.7127,"longitude":-74.0059,"style":"FULL","username":"demo","debug":false,"name":"","x":374.0909118652344,"y":325.0909118652344,"z":"5a11d0e.fa5ee3","wires":[["5a102ac4.a5efd4","bffbcbaa.400438"]]},{"id":"169a4f0f.e965b1","type":"search place","query":"","maxrows":10,"style":"FULL","username":"demo","debug":false,"name":"","x":356.0909118652344,"y":504.0909118652344,"z":"5a11d0e.fa5ee3","wires":[["c1f569f6.3e0a98","adb75b0.f5248a8"]]},{"id":"1f4a1ac2.e0b5e5","type":"https request","debug":true,"name":"","x":491.0909118652344,"y":240.09091186523438,"z":"d8088f6b.27f77","wires":[["71132dcb.8eecd4","557071f0.aa8f9"]]},{"id":"e93b6a79.16c498","type":"http in","name":"","url":"/https","method":"get","x":103.09091186523438,"y":204.09091186523438,"z":"d8088f6b.27f77","wires":[["61f5cab9.9e0a34","cec4ea9e.313b18"]]},{"id":"61f5cab9.9e0a34","type":"function","name":"Prepare options","func":"var host = '208.43.108.6';\nvar path = '/geonamessecure?latitude=59.927&longitude=10.733&username=demo';\n\nvar files = {\n  key : '/temp/GeonamesSecureTwoWayReverseLookup-native-private-key.pem',\n  cert : 'GeonamesSecureTwoWayReverseLookup-native-client-cert.pem',\n  ca : ['DigiCertCA2.pem', 'DigiCertTrustedRoot.pem', '/GeonamesSecureTwoWayReverseLookup-native-server-cert.pem']\n};\n\nvar https = {\n  files : files,\n  rejectUnauthorized : false,\n  hostname : host,\n  port : 1716,\n  path : path,\n  method : 'GET',\n  secureProtocol :'TLSv1_method',\n};\n\nvar options = {\n  files : files,\n  httpsOptions : https\n}\n\nmsg.options = options;\n\n\nreturn msg;","outputs":1,"valid":true,"x":284.0909118652344,"y":207.09091186523438,"z":"d8088f6b.27f77","wires":[["1f4a1ac2.e0b5e5","fd5c8d79.02a37"]]},{"id":"557071f0.aa8f9","type":"debug","name":"","active":true,"console":"false","complete":"false","x":704.0909729003906,"y":156.09091186523438,"z":"d8088f6b.27f77","wires":[]},{"id":"71132dcb.8eecd4","type":"http response","name":"","x":693.0909729003906,"y":226.09091186523438,"z":"d8088f6b.27f77","wires":[]},{"id":"cec4ea9e.313b18","type":"debug","name":"","active":true,"console":"false","complete":"false","x":276.0909118652344,"y":136.09091186523438,"z":"d8088f6b.27f77","wires":[]},{"id":"fd5c8d79.02a37","type":"debug","name":"","active":true,"console":"false","complete":"options","x":486.0909118652344,"y":168.09091186523438,"z":"d8088f6b.27f77","wires":[]},{"id":"378e6dd0.a71412","type":"smscount","debug":false,"name":"SMS Count","x":448.20001220703125,"y":298.20001220703125,"z":"a62c67b8.59d398","wires":[["dda0aa29.de9c1","2c599307.ea4224"]]},{"id":"1bca986.813dbe8","type":"http in","name":"Login SMS Count","url":"/loginsmscount","method":"get","x":92.19999694824219,"y":364.20001220703125,"z":"a62c67b8.59d398","wires":[["87b7b100.720ff"]]},{"id":"87b7b100.720ff","type":"login","debug":false,"name":"Login user","username":"","password":"","x":279.20001220703125,"y":365.20001220703125,"z":"a62c67b8.59d398","wires":[["378e6dd0.a71412","2d4eff0e.34bef8"]]},{"id":"2d4eff0e.34bef8","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":447.62857818603516,"y":366.0571403503418,"z":"a62c67b8.59d398","wires":[]},{"id":"dda0aa29.de9c1","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":648.1111145019531,"y":363.8888854980469,"z":"a62c67b8.59d398","wires":[]},{"id":"2c599307.ea4224","type":"http response","name":"","x":653.8887634277344,"y":298,"z":"a62c67b8.59d398","wires":[]},{"id":"39f85ed5.a1229a","type":"smsarchive","debug":false,"name":"","x":438.99999237060547,"y":423.91666412353516,"z":"a62c67b8.59d398","wires":[["9f507ff0.875d4","c4499881.162568"]]},{"id":"b3164ad8.15ae7","type":"login","debug":false,"name":"Login user","username":"","password":"","x":279.13887786865234,"y":492.94446659088135,"z":"a62c67b8.59d398","wires":[["39f85ed5.a1229a","182000f5.fb7f1f"]]},{"id":"9cfd215e.0715a","type":"http in","name":"SMS Archive","url":"/smsarchive","method":"get","x":87.33332824707031,"y":426.9722328186035,"z":"a62c67b8.59d398","wires":[["39f85ed5.a1229a"]]},{"id":"182000f5.fb7f1f","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":445.66666412353516,"y":493.9166774749756,"z":"a62c67b8.59d398","wires":[]},{"id":"9f507ff0.875d4","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":663.9999771118164,"y":467.2499885559082,"z":"a62c67b8.59d398","wires":[]},{"id":"c4499881.162568","type":"http response","name":"","x":671.9166412353516,"y":415.8610906600952,"z":"a62c67b8.59d398","wires":[]},{"id":"f91387ed.e561a","type":"login","debug":false,"name":"","username":"","password":"","x":492.50796127319336,"y":75.14285659790039,"z":"a62c67b8.59d398","wires":[["4d22f33a.7f4364","8173c90b.90bf6"]]},{"id":"61c31048.6f7278","type":"http in","name":"Login","url":"/login","method":"get","x":77.4285659790039,"y":32.428565979003906,"z":"a62c67b8.59d398","wires":[["fa62b21b.059d5"]]},{"id":"4d22f33a.7f4364","type":"http response","name":"","x":673.0000305175781,"y":26.714275360107422,"z":"a62c67b8.59d398","wires":[]},{"id":"8173c90b.90bf6","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":668.857177734375,"y":81.28571319580078,"z":"a62c67b8.59d398","wires":[]},{"id":"86334234.369b9","type":"http in","name":"Logout","url":"/logout","method":"get","x":68.75007057189941,"y":697.6429061889648,"z":"a62c67b8.59d398","wires":[["ebe28221.a543d"]]},{"id":"afa82aaa.d44fb","type":"http response","name":"","x":440.4167537689209,"y":663.7540502548218,"z":"a62c67b8.59d398","wires":[]},{"id":"87d2feb3.ad6af8","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":437.9168109893799,"y":711.8096561431885,"z":"a62c67b8.59d398","wires":[]},{"id":"ebe28221.a543d","type":"logout","debug":false,"name":"","x":262.311222076416,"y":696.3429412841797,"z":"a62c67b8.59d398","wires":[["afa82aaa.d44fb","87d2feb3.ad6af8"]]},{"id":"7ac0e5c0.853f1c","type":"http in","name":"Login post","url":"/loginpost","method":"post","x":79.09091186523438,"y":92.09091186523438,"z":"a62c67b8.59d398","wires":[["f91387ed.e561a"]]},{"id":"53b049bd.ac4fb8","type":"http in","name":"SMS Count","url":"/smscount","method":"get","x":81.09091186523438,"y":298.0909118652344,"z":"a62c67b8.59d398","wires":[["378e6dd0.a71412"]]},{"id":"69562a0c.96a9d4","type":"http in","name":"Login SMS Archive","url":"/loginsmsarchive","method":"get","x":91.76768493652344,"y":494.3232307434082,"z":"a62c67b8.59d398","wires":[["b3164ad8.15ae7"]]},{"id":"bbcd5da7.4432a","type":"http in","name":"Telenor SMS","url":"/telenorsms","method":"get","x":81.18620300292969,"y":778.5369397864852,"z":"a62c67b8.59d398","wires":[["592acec3.a6d53"]]},{"id":"e3408c97.1cbf7","type":"http response","name":"","x":543.1862030029297,"y":780.5368824005127,"z":"a62c67b8.59d398","wires":[]},{"id":"592acec3.a6d53","type":"template","name":"Telenor SMS","field":"payload","format":"handlebars","template":"<!--\n  Jo Torsmyr\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n  http://www.apache.org/licenses/LICENSE-2.0\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<!DOCTYPE html>\n<html>\n<head>\n\n<script language=\"JavaScript\" type=\"text/javascript\" src=\"cryptico.min.js\"></script>\n\n<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>\n<title>Telenor SMS</title>\n\n<style type='text/css'>\n#unicornanimation #animation img {\n    display: none;\n}\n#unicornanimation #animation img:first-child {\n    display: none;\n}\n#animation { \n    background-repeat: no-repeat; \n    height: 102px; \n    width: 140px; \n    display: none;\n}\n#smstable, #smstable tr, #smstable th, #smstable td {\n   border: 1px solid black;\n}\n</style>\n\n<script charset='UTF-8'>\n/* global console, alert, cryptico */\n/*jshint devel : true*/\n\n'use strict';\n\nvar DEBUG_MODE = false;\nvar ALERT_MODE = false;\n\nfunction debugLog() {\n  if (DEBUG_MODE) {\n     Array.prototype.unshift.call(arguments, 'telenorsms');\n     var debugtext = '';\n     for (var i = 0; i < arguments.length; i++)\n         debugtext += arguments[i].toString() + (i < (arguments.length - 1) ? ', ' : '');\n     console.log(debugtext);\n\n     if (ALERT_MODE) alert(debugtext);\n  }\n}\n\n//var HOST = 'http://noderedjo2.mybluemix.net';\nvar HOST = 'http://localhost:1880';\nvar animationHTML, animationTimeout, loginHTML;\nvar freeSMSUrl = HOST + '/smscount';\nvar smsArchiveUrl = HOST + '/smsarchive';\nvar smsContactsUrl = HOST + '/smscontacts';\nvar logoutUrl = HOST + '/logout';\nvar loginUrl = HOST + '/login';\nvar sendsmsUrl = HOST + '/sendsms';\nvar selectedRecipient = null;\n\nfunction initOnLoad() {\n  debugLog('telenorsms: JS loaded');\n  loginHTML = document.getElementById('logintable').innerHTML;\n  animationHTML = document.getElementById('unicornanimation').innerHTML;\n  document.getElementById('recipients').disabled = true;\n  document.getElementById('message').disabled = true;\n  document.getElementById('sendSMSbutton').disabled = true;\n}\n\nvar publicKeyString = 'hsucSoRBVYpLRw8TntSUmoUzZ/5Mw7k1Qt2s10UUIIc3xA09P40ZgSHmnMZtn5uKvEeUPrZkLvAT8v247a2uJw==';\nfunction getEncryptedValue(str) {\n  var EncryptionResult = cryptico.encrypt(str, publicKeyString);\n\n  var uriEncodedString = encodeURIComponent(EncryptionResult.cipher);\n  return uriEncodedString;\n}\n\nfunction updateLoginStatus(loggedIn, loginStatusMessage) {\n  document.getElementById('loginstatus').innerHTML = loginStatusMessage;\n\n  document.getElementById('recipients').disabled = !loggedIn;\n  document.getElementById('message').disabled = !loggedIn;\n  document.getElementById('sendSMSbutton').disabled = !loggedIn;\n  if (loggedIn) {\n     document.getElementById('logintable').innerHTML = '';\n  } else {\n     document.getElementById('logintable').innerHTML = loginHTML;\n     document.getElementById('freesms').innerHTML = '';\n     document.getElementById('smsarchive').innerHTML = '';\n     document.getElementById('smscontacts').innerHTML = '';\n     document.getElementById('sendsms').innerHTML = '';\n  }\n}\n\nfunction telenorLogout() {\n  telenorRequest(logoutUrl, function(responsePayload) {\n    updateLoginStatus(responsePayload.loggedIn, 'Logout successfull: ' + responsePayload.logoutStatus);\n  });\n}\n\nfunction telenorLogin() {\n  var username = document.getElementById('username').value;\n  var password = document.getElementById('password').value;\n\n  var url = loginUrl;\n\n  url += '?username=' + getEncryptedValue(username);\n  url += '&password=' + getEncryptedValue(password);\n\n  debugLog('url', url);\n\n  document.getElementById('errorstatus').innerHTML = '';\n  telenorRequest(url, function(responsePayload) {\n    debugLog(username);\n    if (responsePayload.loggedIn) {\n       var loggedInString = 'Logged in as ' + responsePayload.name + ' (cell ' + responsePayload.cell + ', username: ' +\n        username + ') ' + '<a href=\\\"javascript:void(0)\\\" onclick=\\\"telenorLogout()\\\">logout</a>';\n       updateLoginStatus(responsePayload.loggedIn, loggedInString);\n       telenorRequest(freeSMSUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('errorstatus').innerHTML = document.getElementById('errorstatus').innerHTML + ', unable to get free SMS status';\n         else\n            document.getElementById('freesms').innerHTML = 'Free SMS left: ' + responsePayload.freesms;\n       });\n       telenorRequest(smsArchiveUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('errorstatus').innerHTML = document.getElementById('errorstatus').innerHTML + ', unable to get sent SMS archive';\n         else\n           document.getElementById('smsarchive').innerHTML = formatSMSArchive(responsePayload.smsarchive);\n       });\n       telenorRequest(smsContactsUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('smscontacts').innerHTML = document.getElementById('errorstatus').innerHTML + JSON.stringify(responsePayload);\n         else\n           document.getElementById('smscontacts').innerHTML = formatSMSContacts(responsePayload.contacts);\n       });\n    } else {\n       updateLoginStatus(responsePayload.loggedIn, 'Login failed');\n    }\n  });\n}\n\nfunction sendSMS() {\n  var recipients = document.getElementById('recipients').value;\n  var message = document.getElementById('message').value;\n\n  var url = sendsmsUrl;\n\n  url += '?recipients=' + getEncryptedValue(recipients);\n  url += '&message=' + getEncryptedValue(message);\n\n  debugLog('url', url);\n\n  document.getElementById('errorstatus').innerHTML = '';\n  telenorRequest(url, function(responsePayload) {\n    document.getElementById('sendsms').innerHTML = 'Send SMS status: ' + responsePayload.sent + ' (description: ' + responsePayload.messageStatus + ')';\n    if (responsePayload.sent)\n       telenorRequest(smsArchiveUrl, function(responsePayload) {\n         document.getElementById('smsarchive').innerHTML = formatSMSArchive(responsePayload.smsarchive);\n       });\n  });\n}\n\nfunction formatSMSArchive(smsArchive) {\n  if (smsArchive && smsArchive.length) {\n     var html = '<table id=\\\"smstable\\\" width=\\\"100%\\\"><tr><td colspan=\\\"3\\\" align=\\\"center\\\"><strong>Sent SMS</strong></td></tr><tr><th>Recipients</th><th>Message</th><th>Sent</th></tr>';\n     for (var i = 0; i < smsArchive.length; i++)\n         html += '<tr><td>' + smsArchive[i].to + '</td><td>' + smsArchive[i].message + '</td><td>' + smsArchive[i].date + '</td></tr>';\n     html += '</table>';\n     return html;\n  } else return '';\n}\n\nfunction addRecipient(recipient) {\n  var recipients = document.getElementById('recipients').value;\n  if (recipients && recipients.length > 0)\n     recipients += ',';\n  recipients += recipient;\n  document.getElementById('recipients').value = recipients;\n}\n\nfunction selectRecipient(recipient) {\n  selectedRecipient = recipient;\n  debugLog('Selected recipient', selectedRecipient);\n}\nfunction addContact() {\n  addRecipient(selectedRecipient);\n}\n\nfunction formatSMSContacts(smsContacts) {\n  if (smsContacts && smsContacts.length) {\n     var html = '<label>Contact list</label>';\n     html += '<input type=\\\"button\\\" value=\\\"Add\\\" onClick=\\\"addContact()\\\"><br>';\n     html += '<select id=\\\"contactstable\\\" size=\\\"10\\\" onclick=\\\"selectRecipient(this.value)\\\" ondblclick=\\\"addRecipient(this.value)\\\">';\n     html += '<optgroup label=\"Contact list\">';\n     for (var i = 0; i < smsContacts.length; i++)\n         html += '<option value=\\\"' + smsContacts[i].number + '\\\">' + smsContacts[i].name + '</option>';\n     html += '</select>';\ndebugLog(html);     \n     return html;\n  } else return '';\n}\n\nfunction telenorRequest(url, responseCallback) {\n  try {\n    var xmlhttpget = new XMLHttpRequest();\n\n    xmlhttpget.onerror = function(error) {\n      debugLog('response onerror', error);        \n    };\n\n    xmlhttpget.open('GET', url, true);\n\n    xmlhttpget.onloadstart = function() {\n      debugLog('onloadstart', xmlhttpget.status);\n//      document.getElementById('meteogram').innerHTML = 'Searching for Yr meteogram for ' + searchParam;\n      startAnimation();\n    };\n\n    xmlhttpget.onloadend = function() {\n      debugLog('onloadend', xmlhttpget.status);\n      stopAnimation();\n      try {\n        if (xmlhttpget.status === 200) {\n           var payload = JSON.parse(xmlhttpget.responseText);\n           debugLog('Response payload', JSON.stringify(payload));\n           if (payload.error)\n              document.getElementById('errorstatus').innerHTML = 'Error: ' + payload.errorMessage;\n           else\n              document.getElementById('errorstatus').innerHTML = '';\n\n           responseCallback(payload);\n        } else {\n           debugLog('onloadend not ok', xmlhttpget.responseText);\n           document.getElementById('errorstatus').innerHTML = 'Error: ' + xmlhttpget.responseText;\n        }\n      } catch (error) {\n        debugLog('onloadend error:', error);\n        document.getElementById('errorstatus').innerHTML = 'Error: ' + xmlhttpget.responseText;\n        document.getElementById('unicornanimation').innerHTML = '';\n      }\n    };\n    xmlhttpget.send(); \n  } catch(error) {\n    debugLog('request error:', error.toString());\n    document.getElementById('errorstatus').innerHTML = 'Error: ' + error.toString();\n    document.getElementById('unicornanimation').innerHTML = '';\n  }\n}\n\nvar unicorns = [\n  { name: 'cancan', height: 1755, width: 120, frames: 15, loop: 1 },\n  { name: 'balloon', height: 2020, width: 120, frames: 20, loop: 1 },\n  { name: 'charging', height: 1530, width: 140, frames: 15, loop: 0 },\n  { name: 'dart', height: 2280, width: 100, frames: 20, loop: 1 },\n  { name: 'kick', height: 2000, width: 151, frames: 20, loop: 1 },\n  { name: 'kiss', height: 2000, width: 172, frames: 20, loop: 1 },\n  { name: 'saber', height: 2160, width: 120, frames: 20, loop: 1 },\n  { name: 'shakehead', height: 1500, width: 125, frames: 10, loop: 0, loopback: 1 },\n  { name: 'thumbsup', height: 2400, width: 80, frames: 20, loop: 1 }\n];\n\n// http://jumpingfishes.com/dancingpurpleunicorns/\nfunction startAnimation() {\n  document.getElementById('unicornanimation').innerHTML = animationHTML;\n  var unicornno = Math.floor((Math.random() * 9));\n  var unicorn = unicorns[unicornno];\n  var frame = 0; \n  var div = document.getElementById('animation'); \n  animationTimeout = setInterval(function () { \n    var frameHeight = unicorn.height / unicorn.frames;\n    div.style.width = unicorn.width + 'px';\n    div.style.height = frameHeight + 'px';\n    div.style.backgroundImage = 'url(\\'http://jumpingfishes.com/dancingpurpleunicorns/' + unicorn.name + '.png\\')';\n    div.style.backgroundPosition = '0px ' + ((frame % unicorn.frames) * -frameHeight) + 'px';        \n    div.style.display = 'block';\n    frame++;\n  }, 100); \n} \nfunction stopAnimation() {\n  clearTimeout(animationTimeout);\n  animationTimeout = -1;\n  document.getElementById('unicornanimation').innerHTML = '';\n}\n\nwindow.onload = initOnLoad;\n\n</script>\n\n</head>\n<body>\n<h1>Telenor SMS</h1><div id='loginstatus'><h2>Not logged in.</h2></div>\n\n<strong><a href='mailto:jo.torsmyr@gmail.com?Subject=telenorsms' target='_blank'>Questions? Contact Jo Torsmyr</a></strong>\n</p>\n<font size=\"1\">(For security - all input values are encrypted using\n<a href='https://www.npmjs.com/package/cryptico' target='_blank'>Cryptico</a>\nbefore sent to server)</font>\n<br>\n\n<div id=\"logintable\">\n<table>\n  <tr>\n    <td><strong>Login:</strong></td>\n  </tr>\n  <tr>\n    <td>Username </td>\n    <td>\n      <input type='text' id='username'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>Password: </td>\n    <td>\n      <input type='password' id='password'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <input type='button' value='Login' id='loginButton' onClick='telenorLogin()'/>\n    </td>\n    </td>\n  </tr>\n  </table>\n</div>\n  <table>\n  <tr>\n    <td><strong>Send SMS</strong></td>\n    <td width=\"100\"/>\n    <td rowspan=\"8\" width=\"200\">\n<div id='unicornanimation'>\n  <div id='animation'>\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging01.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging02.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging03.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging04.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging05.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging06.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging07.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging08.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging09.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging10.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging11.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging12.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging13.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging14.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging15.png' />\n  </div> \n</div> \n    </td>\n  </tr>\n  <tr>\n    <td>Recipients </td>\n    <td>\n      <input type='text' id='recipients'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>Message </td>\n    <td>\n      <input type='text' id='message'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <input type='button' value='Send' id='sendSMSbutton' onClick='sendSMS()'/>\n    </td>\n    <td>\n      <div id='freesms'>\n      </div> \n    </td>\n    </td>\n  </tr>\n</table>\n\n<div id='errorstatus'></div> \n<div id='sendsms'></div> \n<br>\n<div id='smscontacts'></div> \n<br>\n<div id='smsarchive' style=\"width:500px; height:300px; overflow:auto;\"></div> \n</body>\n</html>","x":343.1862030029297,"y":778.5368824005127,"z":"a62c67b8.59d398","wires":[["e3408c97.1cbf7"]]},{"id":"fa62b21b.059d5","type":"function","name":"Decrypt","func":"var getDecryptedString = context.global.getDecryptedString;\n\nvar username = getDecryptedString(msg.payload.username);\nmsg.payload.username = username.plaintext;\nvar password = getDecryptedString(msg.payload.password);\nmsg.payload.password = password.plaintext;\n\nreturn msg;\n","outputs":1,"valid":true,"x":300.0909118652344,"y":33.090911865234375,"z":"a62c67b8.59d398","wires":[["f91387ed.e561a","984862ab.67b7a"]]},{"id":"984862ab.67b7a","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":489.8052062988281,"y":25.805197715759277,"z":"a62c67b8.59d398","wires":[]},{"id":"30911a01.cf6ee6","type":"catch","name":"","x":64.93618392944336,"y":870.3019504547119,"z":"a62c67b8.59d398","wires":[["daf0e36c.250f2","ea4a5c3f.15b5a"]]},{"id":"c8869699.377968","type":"http response","name":"","x":456.9362144470215,"y":871.3019504547119,"z":"a62c67b8.59d398","wires":[]},{"id":"daf0e36c.250f2","type":"function","name":"Error","func":"\nmsg.payload = msg.error;\nreturn msg;","outputs":1,"valid":true,"x":277.93618392944336,"y":871.30198097229,"z":"a62c67b8.59d398","wires":[["c8869699.377968"]]},{"id":"ea4a5c3f.15b5a","type":"debug","name":"Error","active":true,"console":"false","complete":"error","x":275.9361000061035,"y":916.8214979171753,"z":"a62c67b8.59d398","wires":[]},{"id":"4e25a936.b1da58","type":"http in","name":"Send SMS","url":"/sendsms","method":"get","x":73.43434143066406,"y":151.2121124267578,"z":"a62c67b8.59d398","wires":[["5d06683d.a2f998"]]},{"id":"c7f43d2f.380bc","type":"http response","name":"","x":789.7280006408691,"y":148.6049222946167,"z":"a62c67b8.59d398","wires":[]},{"id":"b857e7bb.47a818","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":615.7201194763184,"y":247.99782752990723,"z":"a62c67b8.59d398","wires":[]},{"id":"36645e36.c99ba2","type":"login","debug":false,"name":"Login user","username":"","password":"","x":423.34996795654297,"y":200.6710605621338,"z":"a62c67b8.59d398","wires":[["b857e7bb.47a818","c5557d8.f3aaa8"]]},{"id":"e9af86de.165078","type":"sendsms","recipients":"","message":"","debug":false,"name":"Send SMS","x":518.8618469238281,"y":142.8734211921692,"z":"a62c67b8.59d398","wires":[["c7f43d2f.380bc","52286633.add798"]]},{"id":"52286633.add798","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":796.032543182373,"y":206.11547374725342,"z":"a62c67b8.59d398","wires":[]},{"id":"7d7ae6ff.828518","type":"http in","name":"Login Send SMS","url":"/loginsendsms","method":"get","x":91.87876892089844,"y":201.3029956817627,"z":"a62c67b8.59d398","wires":[["bf199353.40e67"]]},{"id":"5d06683d.a2f998","type":"function","name":"Decrypt","func":"var getDecryptedString = context.global.getDecryptedString;\n\nvar recipients = getDecryptedString(msg.payload.recipients);\nmsg.payload.recipients = recipients.plaintext;\nvar message = getDecryptedString(msg.payload.message);\nmsg.payload.message = message.plaintext;\n\nreturn msg;\n","outputs":1,"valid":true,"x":263.87876892089844,"y":151.3029956817627,"z":"a62c67b8.59d398","wires":[["e9af86de.165078"]]},{"id":"bf199353.40e67","type":"change","name":"Payload","rules":[{"t":"set","p":"smssend","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":265.0174789428711,"y":201.07444190979004,"z":"a62c67b8.59d398","wires":[["36645e36.c99ba2"]]},{"id":"c5557d8.f3aaa8","type":"change","name":"Payload","rules":[{"t":"set","p":"payload","to":"msg.smssend"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.7817668914795,"y":202.44585609436035,"z":"a62c67b8.59d398","wires":[["52286633.add798","e9af86de.165078"]]},{"id":"b47ebee8.4b814","type":"http in","name":"Contacts","url":"/smscontacts","method":"get","x":79.09088897705078,"y":555.7272461189714,"z":"a62c67b8.59d398","wires":[["f688b782.097748"]]},{"id":"20c556ef.df3aaa","type":"http in","name":"","url":"/loginsmscontacts","method":"get","x":107.4999771118164,"y":612.060643196106,"z":"a62c67b8.59d398","wires":[["244e83b8.dbb17c"]]},{"id":"244e83b8.dbb17c","type":"login","debug":false,"name":"","username":"","password":"","x":280.97977447509766,"y":613.6162519454956,"z":"a62c67b8.59d398","wires":[["f688b782.097748","52794534.ad86bc"]]},{"id":"f688b782.097748","type":"contacts","debug":false,"name":"","x":435.42420959472656,"y":557.393913269043,"z":"a62c67b8.59d398","wires":[["2a3b76bb.d5c48a","286cae9f.d79352"]]},{"id":"286cae9f.d79352","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":618.9797897338867,"y":613.0606021881104,"z":"a62c67b8.59d398","wires":[]},{"id":"2a3b76bb.d5c48a","type":"http response","name":"","x":621.2121315002441,"y":557.4545001983643,"z":"a62c67b8.59d398","wires":[]},{"id":"52794534.ad86bc","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":432.3231964111328,"y":615.2323350906372,"z":"a62c67b8.59d398","wires":[]},{"id":"7edf4374.8120bc","type":"http in","name":"Simple SMS","url":"/simplesms","method":"get","x":79.5551643371582,"y":975.4382801055908,"z":"a62c67b8.59d398","wires":[["442f25ae.bbd0dc"]]},{"id":"8d783ab8.7287c8","type":"simplesms","sender":"","password":"","recipients":"","message":"","debug":true,"name":"Simple SMS","x":370.95991134643555,"y":974.533483505249,"z":"a62c67b8.59d398","wires":[["bc77bb85.438848","1e477df8.e1b882"]]},{"id":"bc77bb85.438848","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":543.3885612487793,"y":953.6048946380615,"z":"a62c67b8.59d398","wires":[]},{"id":"ac0ddaac.53f228","type":"http response","name":"","x":795.7218551635742,"y":1002.4660339355469,"z":"a62c67b8.59d398","wires":[]},{"id":"908e8f71.6f717","type":"change","name":"Get SMAPI XML","rules":[{"t":"set","p":"originalPayload","to":"msg.payload"},{"t":"set","p":"payload","to":"msg.originalPayload.smapixml"}],"action":"","property":"","from":"","to":"","reg":false,"x":578.3885154724121,"y":1129.854881286621,"z":"a62c67b8.59d398","wires":[["50ee6f26.af119","343f552e.cbc0aa"]]},{"id":"8b8cca5a.747338","type":"switch","name":"SMAPI?","property":"payload.smapixml","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":556.3041343688965,"y":1065.306173324585,"z":"a62c67b8.59d398","wires":[["ac0ddaac.53f228","dbcb11ef.2434f"],["908e8f71.6f717"]]},{"id":"50ee6f26.af119","type":"xml","name":"XML to JSON","attr":"$","chr":"_","x":763.2712287902832,"y":1086.7866592407227,"z":"a62c67b8.59d398","wires":[["633beb5c.9cc414","3086cf19.cf793"]]},{"id":"9cd458c7.632ba8","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":1081.7748756408691,"y":1082.9685277938843,"z":"a62c67b8.59d398","wires":[]},{"id":"343f552e.cbc0aa","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":757.4891777038574,"y":1135.2899379730225,"z":"a62c67b8.59d398","wires":[]},{"id":"633beb5c.9cc414","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":944.9892845153809,"y":1138.861400604248,"z":"a62c67b8.59d398","wires":[]},{"id":"3086cf19.cf793","type":"function","name":"Stringify","func":"\nmsg.originalPayload.smapi = msg.payload;\ndelete msg.originalPayload.smapixml;\nmsg.payload = JSON.stringify(msg.originalPayload);\nmsg.headers['Content-Type'] = 'application/json; charset=UTF-8';\nmsg.headers['Content-Length'] = Buffer.byteLength(msg.payload, ['utf8']);\nreturn msg;","outputs":1,"valid":true,"x":929.6482887268066,"y":1083.95876121521,"z":"a62c67b8.59d398","wires":[["9cd458c7.632ba8","ac0ddaac.53f228"]]},{"id":"1e477df8.e1b882","type":"function","name":"Parse","func":"\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":557.2489128112793,"y":1000.991247177124,"z":"a62c67b8.59d398","wires":[["8b8cca5a.747338"]]},{"id":"dbcb11ef.2434f","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":746.2391242980957,"y":951.426342010498,"z":"a62c67b8.59d398","wires":[]},{"id":"415419d2.beabe8","type":"http in","name":"Get Yr weather info","url":"/yrinfo","method":"get","x":117.09091186523438,"y":76.25001525878906,"z":"dad71e0b.2528e","wires":[["c2515029.3daeb"]]},{"id":"29c031b1.d63fce","type":"http response","name":"Return Yr Meteogram","x":748.840934753418,"y":46,"z":"dad71e0b.2528e","wires":[]},{"id":"8279002a.7d87","type":"debug","name":"","active":true,"console":"false","complete":"false","x":724.5909309387207,"y":108.7500171661377,"z":"dad71e0b.2528e","wires":[]},{"id":"317acd42.ce8532","type":"debug","name":"","active":true,"console":"false","complete":"false","x":510.34092712402344,"y":138.7500171661377,"z":"dad71e0b.2528e","wires":[]},{"id":"c2515029.3daeb","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"tverilytt","debug":true,"name":"","x":329.8409423828125,"y":55.00001525878906,"z":"dad71e0b.2528e","wires":[["317acd42.ce8532","e1509364.1eaf7"]]},{"id":"b26a649a.4d9598","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"demo","debug":false,"name":"","x":319.70457458496094,"y":405.1137161254883,"z":"dad71e0b.2528e","wires":[["ce8ef39d.31711","d3008e89.2cff7"]]},{"id":"db011062.24fef","type":"http in","name":"Get Yr weather data","url":"/yrdata","method":"get","x":120.70458984375,"y":404.113712310791,"z":"dad71e0b.2528e","wires":[["b26a649a.4d9598"]]},{"id":"918310f2.6e7cf","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":726.7046508789062,"y":354.61369705200195,"z":"dad71e0b.2528e","wires":[]},{"id":"948a1c80.6b75e","type":"http response","name":"Return weather data XML","x":801.95458984375,"y":521.6137447357178,"z":"dad71e0b.2528e","wires":[]},{"id":"b754ba0f.48ab48","type":"xml","name":"XML to JSON","attr":"$","chr":"_","x":303.20459365844727,"y":521.613712310791,"z":"dad71e0b.2528e","wires":[["e6f5d03a.190a3","6db570be.924a9"]]},{"id":"e6f5d03a.190a3","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":451.95459365844727,"y":596.6136837005615,"z":"dad71e0b.2528e","wires":[]},{"id":"6db570be.924a9","type":"function","name":"JSON response type","func":"msg.headers = {'Content-Type' : 'application/json'};\nreturn msg;","outputs":1,"valid":true,"x":542.0934600830078,"y":525.0858726501465,"z":"dad71e0b.2528e","wires":[["948a1c80.6b75e"]]},{"id":"e1509364.1eaf7","type":"weather info","debug":false,"name":"","x":546.9318084716797,"y":56.09092330932617,"z":"dad71e0b.2528e","wires":[["29c031b1.d63fce","8279002a.7d87"]]},{"id":"ce8ef39d.31711","type":"weather data","debug":false,"name":"","x":523.6818389892578,"y":405.34093475341797,"z":"dad71e0b.2528e","wires":[["b754ba0f.48ab48","918310f2.6e7cf"]]},{"id":"d3008e89.2cff7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":504.4545669555664,"y":349.11366271972656,"z":"dad71e0b.2528e","wires":[]},{"id":"e2d30f9d.1d2cf","type":"http in","name":"Get Yr info place","url":"/yrplaceinfo","method":"get","x":113.33332061767578,"y":234.52777862548828,"z":"dad71e0b.2528e","wires":[["62b607cd.9d49f8"]]},{"id":"62b607cd.9d49f8","type":"search place","query":"","maxrows":10,"style":"FULL","username":"tverilytt","debug":true,"name":"","x":337.25000762939453,"y":235.25000762939453,"z":"dad71e0b.2528e","wires":[["6c9b8be4.936474","317acd42.ce8532"]]},{"id":"6c9b8be4.936474","type":"weather info","debug":true,"name":"","x":574.7500114440918,"y":236.50000762939453,"z":"dad71e0b.2528e","wires":[["27c2a4ea.d83d5c","8279002a.7d87"]]},{"id":"27c2a4ea.d83d5c","type":"http response","name":"","x":808.4999961853027,"y":236.49999618530273,"z":"dad71e0b.2528e","wires":[]},{"id":"e5264c22.1ad9b","type":"http in","name":"Yr weather info","url":"/yrweatherinfo","method":"post","x":89.09091186523438,"y":132,"z":"3f3d92e3.c0c26e","wires":[["ebb9acce.14465","d6329249.29cd7"]]},{"id":"ebb9acce.14465","type":"weather info","debug":false,"name":"","x":300.0909118652344,"y":131,"z":"3f3d92e3.c0c26e","wires":[["1e88eb70.e17715","dce798b0.231868"]]},{"id":"1e88eb70.e17715","type":"debug","name":"","active":true,"console":"false","complete":"false","x":474.0909118652344,"y":80,"z":"3f3d92e3.c0c26e","wires":[]},{"id":"8f4af26a.70b51","type":"http response","name":"Return Yr info","x":689.8409423828125,"y":136.5,"z":"3f3d92e3.c0c26e","wires":[]},{"id":"d6329249.29cd7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":276.0909118652344,"y":59,"z":"3f3d92e3.c0c26e","wires":[]},{"id":"dce798b0.231868","type":"function","name":"Return Yr info","func":"if (msg.statusCode === 404) msg.statusCode = 200;\nreturn msg;","outputs":1,"valid":true,"x":496.12007904052734,"y":158.27916717529297,"z":"3f3d92e3.c0c26e","wires":[["8f4af26a.70b51"]]},{"id":"502ff2b5.afd00c","type":"http in","name":"Yr SMS","url":"/yrsms","method":"get","x":86.17424011230469,"y":284.0833282470703,"z":"3f3d92e3.c0c26e","wires":[["8af8b25e.75075"]]},{"id":"8af8b25e.75075","type":"template","name":"Yr SMS","field":"payload","format":"handlebars","template":"<!--\n  Jo Torsmyr\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n  http://www.apache.org/licenses/LICENSE-2.0\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<!DOCTYPE html>\n<html>\n<head>\n<script language=\"JavaScript\" type=\"text/javascript\" src=\"cryptico.min.js\"></script>\n\n<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>\n<title>Yr Meteogram</title>\n\n<style type='text/css'>\n#unicornanimation #animation img {\n    display: none;\n}\n#unicornanimation #animation img:first-child {\n    display: none;\n}\n#animation { \n    background-repeat: no-repeat; \n    height: 102px; \n    width: 140px; \n    display: none;\n}\n</style>\n\n\n<!--\n<script type='text/javascript' src='yrmeteogram.js'></script>\n<script type='text/javascript'>window.onload = initOnLoad;</script>\n-->\n\n<script charset='UTF-8'>\n/* global console, alert, cryptico */\n/*jshint devel : true*/\n\n'use strict';\n\nvar DEBUG_MODE = false;\nvar ALERT_MODE = false;\n\n    function debugLog() {\n      if (DEBUG_MODE) {\n         Array.prototype.unshift.call(arguments, 'yrjsdemo');\n//         console.log.apply(console.log, arguments);\n         var debugtext = '';\n         for (var i = 0; i < arguments.length; i++)\n           debugtext += arguments[i].toString() + (i < (arguments.length - 1) ? ', ' : '');\n         console.log(debugtext);\n//         alert.apply(null, arguments);\n\n         if (ALERT_MODE) alert(debugtext);\n      }\n    }\n\n//var HOST = 'http://noderedjo2.mybluemix.net';\nvar HOST = 'http://localhost:1880';\nvar yrPlaceInfoUrl = HOST + '/yrplaceinfo?';\nvar yrInfoUrl = HOST + '/yrinfo?';\nvar simpleSMSUrl = HOST + '/simplesms';\n\nvar animationHTML, animationTimeout, meteogramurl;\n\nfunction initOnLoad() {\n  debugLog('yrjsdemo: JS loaded');\n  animationHTML = document.getElementById('unicornanimation').innerHTML;\n}\n\nvar publicKeyString = 'hsucSoRBVYpLRw8TntSUmoUzZ/5Mw7k1Qt2s10UUIIc3xA09P40ZgSHmnMZtn5uKvEeUPrZkLvAT8v247a2uJw==';\nfunction getEncryptedValue(str) {\n  var EncryptionResult = cryptico.encrypt(str, publicKeyString);\n\n  var uriEncodedString = encodeURIComponent(EncryptionResult.cipher);\n  return uriEncodedString;\n}\n\nfunction showYrMeteogram() {\n  var latitude = document.getElementById('latitude').value;\n  var longitude = document.getElementById('longitude').value;\n  var place = document.getElementById('searchplace').value;\n  debugLog(latitude, longitude, place);\n  getYrMeteogram(latitude, longitude, place);\n}\n\nfunction getYrMeteogram(lat, lng, place) {\n  var url;\n  var searchParam;\n  if (place) {\n     url = yrPlaceInfoUrl;\n     url  += 'query='+ place;\n     searchParam = place;\n  } else {\n     url = yrInfoUrl;\n     url += 'latitude=' + lat;\n     url += '&longitude=' + lng + '&';\n     searchParam = lat + ', ' + lng;\n  }\n  debugLog('url', url);\n\n  meteogramurl = null;\n\n  httpRequest(url, function(yrinfo) {\n    if (yrinfo.meteogram === 'Unknown')\n       document.getElementById('meteogram').innerHTML = 'No Yr meteogram found for ' + searchParam;\n    else {\n       meteogramurl = yrinfo.meteogram;\n       document.getElementById('meteogram').innerHTML = \n         'Meteogram for ' + yrinfo.place +\n         ' (' + yrinfo.latitude + ', ' + yrinfo.longitude + ') <BR>' +\n         '<a target=\\'_self\\' href=\\'' + yrinfo.yr + '\\'>' +\n         '<img src=\\'' + yrinfo.meteogram + '\\'>' + '</a>' +\n         '<br><a target=\\'_self\\' href=\\'http://www.yr.no\\'>' +\n         'Weather forecast from yr.no, delivered by the Norwegian Meteorological Institute and the NRK</a>';\n    }\n  });\n}\n\nfunction smsYrMeteogram() {\n  var sender = document.getElementById('smsFrom').value;\n  var password = document.getElementById('smsPassword').value;\n  var recipient = document.getElementById('smsTo').value;\n  var message = meteogramurl;\n\n  if (typeof sender == 'undefined') {\n     debugLog('From undefined');\n     return;\n   } else if (typeof password == 'undefined') {\n     debugLog('Password undefined');\n     return;\n   } else if (typeof recipient == 'undefined') {\n     debugLog('Recipient undefined');\n     return;\n   } else if (typeof message == 'undefined') {\n     debugLog('Message undefined');\n     return;\n   }\n  debugLog(sender, password, recipient, message);\n//  debugLog(to, message);\n  doSMSYrMeteogram(sender, password, recipient, message);\n}\n\nfunction doSMSYrMeteogram(sender, password, recipient, message) {\n  var url;\n  var method;\n\n  if (!sender || !password || !recipient || !message) return;\n\n  url = simpleSMSUrl;\n  url += '?sender=' + getEncryptedValue(sender);\n  url += '&password=' + getEncryptedValue(password);\n  url += '&recipients=' + getEncryptedValue(recipient);\n  url += '&message=' + getEncryptedValue(encodeURI(message));\n  method = 'GET';\n\n  debugLog('SMS url', url);\n\n  httpRequest(url, function(smsstatus) {\n    document.getElementById('errorstatus').innerHTML = 'Send SMS status: ' + (smsstatus.sent ? 'sent' : 'not sent');\n  });\n}\n\nfunction httpRequest(url, responseCallback) {\n  try {\n    var xmlhttpget = new XMLHttpRequest();\n\n    xmlhttpget.onerror = function(error) {\n      debugLog('response onerror', error);        \n    };\n\n    xmlhttpget.open('GET', url, true);\n\n    xmlhttpget.onloadstart = function() {\n      debugLog('onloadstart', xmlhttpget.status);\n//      document.getElementById('meteogram').innerHTML = 'Searching for Yr meteogram for ' + searchParam;\n      startAnimation();\n    };\n\n    xmlhttpget.onloadend = function() {\n      debugLog('onloadend', xmlhttpget.status);\n      stopAnimation();\n      try {\n        if (xmlhttpget.status === 200) {\n           var payload = JSON.parse(xmlhttpget.responseText);\n           debugLog('Response payload', JSON.stringify(payload));\n           document.getElementById('errorstatus').innerHTML = '';\n           responseCallback(payload);\n        } else {\n           debugLog('onloadend not ok', xmlhttpget.responseText);\n           document.getElementById('errorstatus').innerHTML = xmlhttpget.responseText;\n        }\n      } catch (error) {\n        debugLog('onloadend error:', error);\n        document.getElementById('errorstatus').innerHTML = xmlhttpget.responseText;\n        document.getElementById('meteogram').innerHTML = '';\n      }\n    };\n    xmlhttpget.send(); \n  } catch(error) {\n    debugLog('request error:', error.toString());\n    document.getElementById('errorstatus').innerHTML = error.toString();\n    document.getElementById('meteogram').innerHTML = '';\n  }\n}\n\n// http://stackoverflow.com/questions/9486961/animated-image-with-javascript\n// http://jsfiddle.net/twTab/\nfunction startAnimation() { \n  document.getElementById('unicornanimation').innerHTML = animationHTML;\n  var unicornno = Math.floor((Math.random() * 9));\n  var unicorn = unicorns[unicornno];\n  var frame = 0; \n  var div = document.getElementById('animation'); \n  animationTimeout = setInterval(function () { \n    var frameHeight = unicorn.height / unicorn.frames;\n    div.style.width = unicorn.width + 'px';\n    div.style.height = frameHeight + 'px';\n    div.style.backgroundImage = 'url(\\'http://jumpingfishes.com/dancingpurpleunicorns/' + unicorn.name + '.png\\')';\n    div.style.backgroundPosition = '0px ' + ((frame % unicorn.frames) * -frameHeight) + 'px';        \n    div.style.display = 'block';\n    frame++;\n  }, 100); \n} \n\nfunction stopAnimation() {\n  clearTimeout(animationTimeout);\n  animationTimeout = -1;\n  document.getElementById('unicornanimation').innerHTML = '';\n}\n\nvar unicorns = [\n  { name: 'cancan', height: 1755, width: 120, frames: 15, loop: 1 },\n  { name: 'balloon', height: 2020, width: 120, frames: 20, loop: 1 },\n  { name: 'charging', height: 1530, width: 140, frames: 15, loop: 0 },\n  { name: 'dart', height: 2280, width: 100, frames: 20, loop: 1 },\n  { name: 'kick', height: 2000, width: 151, frames: 20, loop: 1 },\n  { name: 'kiss', height: 2000, width: 172, frames: 20, loop: 1 },\n  { name: 'saber', height: 2160, width: 120, frames: 20, loop: 1 },\n  { name: 'shakehead', height: 1500, width: 125, frames: 10, loop: 0, loopback: 1 },\n  { name: 'thumbsup', height: 2400, width: 80, frames: 20, loop: 1 }\n];\n\nwindow.onload = initOnLoad;\n\n</script>\n\n</head>\n<body>\n<div>\n<h3>Lookup Yr.no meteogram by geo position (latitude / longitude in decumal degree format), or place name search</h3>\n<table>\n  <tr>\n    <td><strong>Search by geo position:</strong></td>\n  </tr>\n  <tr>\n    <td>Latitude </td>\n    <td>\n      <input type='text' id='latitude'/> (-90 - 90)\n    </td>\n  </tr>\n  <tr>\n    <td>Longitude: </td>\n    <td>\n      <input type='text' id='longitude'/>     (-189 - 180)\n    </td>\n  </tr>\n  <tr>\n    <td><strong>Search by place name:</strong></td>\n  </tr>\n  <tr>\n    <td>Place name: </td>\n    <td>\n      <input type='text' id='searchplace'/>\n      <input type='button' value='Meteogram' id='yrButton' onClick='showYrMeteogram()'/>\n    </td>\n  </tr>\n  <tr>\n    <td><strong>Share Meteogram by SMS</strong></td>\n    <td>\n      (<font size=\"1\">Limited to norwegian Telenor cell phone numbers for sender and recipient(s).</font>\n)</td>\n  </tr>\n  <tr>\n    <td>\n      From: <input type='text' id='smsFrom'/>\n    </td>\n    <td>\n      Password: <input type='password' id='smsPassword'/>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      To: <input type='text' id='smsTo'/>\n    </td>\n    <td>\n      <input type='button' value='SMS' id='smsButton' onClick='smsYrMeteogram()'/>\n    </td>\n  </tr>\n  <tr>\n  </tr>\n</table>\n  <strong><a href='mailto:jo.torsmyr@gmail.com?Subject=yrsms' target='_blank'>Questions? Contact Jo Torsmyr</a></strong>\n<font size=\"1\">(For security - all input values are encrypted using\n<a href='https://www.npmjs.com/package/cryptico' target='_blank'>Cryptico</a>\nbefore sent to server)</font>\n</div>\n<br>\n\n<br>\n<div id='unicornanimation'>\n  <div id='animation'>\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging01.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging02.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging03.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging04.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging05.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging06.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging07.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging08.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging09.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging10.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging11.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging12.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging13.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging14.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging15.png' />\n  </div> \n</div> \n<div id='errorstatus'></div> \n<div id='meteogram'></div>\n\n</body>\n</html>","x":292.17425537109375,"y":286.08335876464844,"z":"3f3d92e3.c0c26e","wires":[["9c9f9177.63607"]]},{"id":"9c9f9177.63607","type":"http response","name":"","x":503.1742706298828,"y":284.0833435058594,"z":"3f3d92e3.c0c26e","wires":[]},{"id":"442f25ae.bbd0dc","type":"function","name":"Decrypt","func":"var getDecryptedString = context.global.getDecryptedString;\n\nvar sender = getDecryptedString(msg.payload.sender);\nmsg.payload.sender = sender.plaintext;\nvar password = getDecryptedString(msg.payload.password);\nmsg.payload.password = password.plaintext;\nvar recipients = getDecryptedString(msg.payload.recipients);\nmsg.payload.recipients = recipients.plaintext;\nvar message = getDecryptedString(msg.payload.message);\nmsg.payload.message = message.plaintext;\n\nreturn msg;\n","outputs":1,"valid":true,"x":219.13850021362305,"y":976.0821895599365,"z":"a62c67b8.59d398","wires":[["8d783ab8.7287c8"]]},{"id":"3ce38718.c31c78","type":"http in","name":"yrjsdemo","url":"/yr","method":"get","x":106.09091186523438,"y":448,"z":"3f3d92e3.c0c26e","wires":[["ddf43e0c.220bc"]]},{"id":"4f36283f.b0c9d8","type":"http response","name":"","x":511.0909118652344,"y":452,"z":"3f3d92e3.c0c26e","wires":[]},{"id":"ddf43e0c.220bc","type":"template","name":"yrjsdemo","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>\n<title>Yr Meteogram</title>\n\n<style type='text/css'>\n#meteogram #animation img {\n    display: none;\n}\n#meteogram #animation img:first-child {\n    display: none;\n}\n#animation { \n    background-repeat: no-repeat; \n    height: 102px; \n    width: 140px; \n    display: none;\n}\n</style>\n\n\n<!--\n<script type='text/javascript' src='yrmeteogram.js'></script>\n<script type='text/javascript'>window.onload = initOnLoad;</script>\n-->\n\n<script charset='UTF-8'>\n/* global console, alert */\n/*jshint devel : true*/\n\n'use strict';\n\nvar DEBUG_MODE = true;\nvar ALERT_MODE = false;\n\n    function debugLog() {\n      if (DEBUG_MODE) {\n         Array.prototype.unshift.call(arguments, 'yrjsdemo');\n//         console.log.apply(console.log, arguments);\n         var debugtext = '';\n         for (var i = 0; i < arguments.length; i++)\n           debugtext += arguments[i].toString() + (i < (arguments.length - 1) ? ', ' : '');\n         console.log(debugtext);\n//         alert.apply(null, arguments);\n\n         if (ALERT_MODE) alert(debugtext);\n      }\n    }\n\nvar animationHTML, animationTimeout;\n\nfunction initOnLoad() {\n  debugLog('yrjsdemo: JS loaded');\n  animationHTML = document.getElementById('meteogram').innerHTML;\n}\n\nfunction showYrMeteogram() {\n  var latitude = document.getElementById('latitude').value;\n  var longitude = document.getElementById('longitude').value;\n  var place = document.getElementById('searchplace').value;\n  debugLog(latitude, longitude, place);\n  getYrMeteogram(latitude, longitude, place);\n}\n\n// http://stackoverflow.com/questions/1275948/how-to-detect-if-a-string-is-encoded-with-escape-or-encodeuricomponent\nfunction isEncoded(str) {\n    return typeof str == 'string' && decodeURIComponent(str) !== str;\n}\n\nvar client_id = '9fd5bb47-c093-48d3-a154-a50ed4b05f9e';\n\nfunction getYrMeteogram(lat, lng, place) {\n  var url;\n  var method;\n  var payload = null;\n  var searchParam;\n  if (place) {\n     url = 'https://api.apim.ibmcloud.com/torsmyrnoibmcom-dev/sb/yr/yrinfosearch?';\n     method = 'POST';\n     payload = '{\\\"query\\\": \\\"';\n     if (isEncoded(place)) payload += place;\n     else payload += encodeURIComponent(place);\n     payload += '\\\"}';\n     searchParam = place;\n     debugLog('payload', payload);\n  } else {\n     url = 'https://api.apim.ibmcloud.com/torsmyrnoibmcom-dev/sb/yr/yrinfogeo';\n     url += '?latitude=' + lat;\n     url += '&longitude=' + lng + '&';\n     method = 'GET';\n     searchParam = lat + ', ' + lng;\n  }\n  url += 'client_id=' + client_id;\n  debugLog('url', url);\n  \n  try {\n    var xmlhttpget = new XMLHttpRequest();\n\n    xmlhttpget.onerror = function(error) {\n      debugLog('response onerror', error);        \n    };\n\n    xmlhttpget.open(method, url, true);\n\n    xmlhttpget.setRequestHeader('Content-Type', 'application/json; charset=utf-8');\n\n    xmlhttpget.onloadstart = function() {\n//      document.getElementById('meteogram').innerHTML = 'Searching for Yr meteogram for ' + searchParam;\n      document.getElementById('meteogram').innerHTML = animationHTML;\n      startAnimation();\n    };\n\n    xmlhttpget.onloadend = function() {\n      debugLog('onloadend', xmlhttpget.status);\n      clearTimeout(animationTimeout);\n      try {\n        if (xmlhttpget.status === 200) {\n           var yrinfo = JSON.parse(xmlhttpget.responseText);\n           debugLog(JSON.stringify(yrinfo));\n           if (yrinfo.meteogram === 'Unknown')\n              document.getElementById('meteogram').innerHTML = 'No Yr meteogram found for ' + searchParam;\n           else\n              document.getElementById('meteogram').innerHTML = \n                'Meteogram for ' + yrinfo.place +\n                ' (' + yrinfo.latitude + ', ' + yrinfo.longitude + ') <BR>' +\n                '<a target=\\'_self\\' href=\\'' + yrinfo.yr + '\\'>' +\n                '<img src=\\'' + yrinfo.meteogram + '\\'>' + '</a>';\n           debugLog(document.getElementById('meteogram').innerHTML);\n        } else {\n           debugLog('onloadend not ok', xmlhttpget.responseText);\n           document.getElementById('meteogram').innerHTML = xmlhttpget.responseText;\n        }\n      } catch (error) {\n        debugLog('onloadend error:', error);\n        document.getElementById('meteogram').innerHTML = error;\n      }\n    };\n    xmlhttpget.send(payload); \n  } catch(error) {\n    debugLog('request error:', error.toString());\n    document.getElementById('meteogram').innerHTML = error;\n  }\n}\n\n// http://stackoverflow.com/questions/9486961/animated-image-with-javascript\n// http://jsfiddle.net/twTab/\nfunction startAnimationOld() { \n    var frames = document.getElementById('animation').children;\n    var frameCount = frames.length;\n    var i = 0;\n    animationTimeout = setInterval(function () { \n        frames[i % frameCount].style.display = 'none';\n        frames[++i % frameCount].style.display = 'block';\n    }, 100); \n} \n\nvar unicorns = [\n  { name: 'cancan', height: 1755, width: 120, frames: 15, loop: 1 },\n  { name: 'balloon', height: 2020, width: 120, frames: 20, loop: 1 },\n  { name: 'charging', height: 1530, width: 140, frames: 15, loop: 0 },\n  { name: 'dart', height: 2280, width: 100, frames: 20, loop: 1 },\n  { name: 'kick', height: 2000, width: 151, frames: 20, loop: 1 },\n  { name: 'kiss', height: 2000, width: 172, frames: 20, loop: 1 },\n  { name: 'saber', height: 2160, width: 120, frames: 20, loop: 1 },\n  { name: 'shakehead', height: 1500, width: 125, frames: 10, loop: 0, loopback: 1 },\n  { name: 'thumbsup', height: 2400, width: 80, frames: 20, loop: 1 }\n];\n\n// http://jumpingfishes.com/dancingpurpleunicorns/\nfunction startAnimation() {\n  var unicornno = Math.floor((Math.random() * 9));\n  var unicorn = unicorns[unicornno];\n//    var frameHeight = 102; \n  var frame = 0; \n  var div = document.getElementById('animation'); \n  setInterval(function () { \n//    var frameOffset = (++frame % frames) * -frameHeight; \n\n    var frameHeight = unicorn.height / unicorn.frames;\n    div.style.width = unicorn.width + 'px';\n    div.style.height = frameHeight + 'px';\n//                       div.style.marginLeft = (-unicorn.width / 2) + 'px';\n//                       div.style.marginTop =  (-frameHeight / 2) + 'px';\n//                        div.style.top = ((((unicornno % 3) + 1) * 33) - 17) + '%',\n//                        div.style.left = (((Math.floor(unicornno / 3) + 1) * 33) - 17) + '%',\n    div.style.backgroundImage = 'url(\\'http://jumpingfishes.com/dancingpurpleunicorns/' + unicorn.name + '.png\\')';\n    div.style.backgroundPosition = '0px ' + ((frame % unicorn.frames) * -frameHeight) + 'px';        \n    div.style.display = 'block';\n    frame++;\n  }, 50); \n} \n\nwindow.onload = initOnLoad;\n\n</script>\n\n</head>\n<body>\n<div>\n<h3>Lookup Yr.no meteogram by geo position (latitude / longitude in decumal degree format), or place name search</h3>\n<table>\n  <tr>\n    <td><strong>Search by geo position:</strong></td>\n  </tr>\n  <tr>\n    <td>Latitude </td>\n    <td>\n      <input type='text' id='latitude'/>\n    </td>\n    <td>(-90 - 90)</td>\n  </tr>\n  <tr>\n    <td>Longitude: </td>\n    <td>\n      <input type='text' id='longitude'/>\n    </td>\n    <td>(-189 - 180)</td>\n  </tr>\n  <tr>\n    <td><strong>Search by place name:</strong></td>\n  </tr>\n  <tr>\n    <td>Place name: </td>\n    <td>\n      <input type='text' id='searchplace'/>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <input type='button' value='Meteogram' id='yrButton' onClick='showYrMeteogram()'/>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <strong><a href='mailto:jo.torsmyr@gmail.com?Subject=yrjsdemo' target='_blank'>Questions? Contact Jo Torsmyr</a></strong>\n    </td>\n  </tr>\n</table>\n</div>\n<br>\n\n<div id='meteogram'>\n  <div id='animation'>\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging01.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging02.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging03.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging04.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging05.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging06.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging07.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging08.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging09.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging10.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging11.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging12.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging13.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging14.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging15.png' />\n  </div> \n</div> \n\n</div>\n</body>\n</html>","x":319.0909118652344,"y":451,"z":"3f3d92e3.c0c26e","wires":[["4f36283f.b0c9d8"]]},{"id":"2ca249a0.d35db6","type":"comment","name":"Yr & Geonames APIM","info":"Web client using IBM API Management.","x":139.09091186523438,"y":404,"z":"3f3d92e3.c0c26e","wires":[]}]