telenorsms/sample/TelenorSMS-Node-RED-flow.js
[{"id":"378e6dd0.a71412","type":"smscount","debug":false,"name":"SMS Count","x":448.20001220703125,"y":298.20001220703125,"z":"a62c67b8.59d398","wires":[["dda0aa29.de9c1","2c599307.ea4224"]]},{"id":"1bca986.813dbe8","type":"http in","name":"Login SMS Count","url":"/loginsmscount","method":"get","x":92.19999694824219,"y":364.20001220703125,"z":"a62c67b8.59d398","wires":[["87b7b100.720ff"]]},{"id":"87b7b100.720ff","type":"login","debug":false,"name":"Login user","username":"","password":"","x":279.20001220703125,"y":365.20001220703125,"z":"a62c67b8.59d398","wires":[["378e6dd0.a71412","2d4eff0e.34bef8"]]},{"id":"2d4eff0e.34bef8","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":436.20001220703125,"y":403.20001220703125,"z":"a62c67b8.59d398","wires":[]},{"id":"dda0aa29.de9c1","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":648.1111145019531,"y":363.8888854980469,"z":"a62c67b8.59d398","wires":[]},{"id":"2c599307.ea4224","type":"http response","name":"","x":653.8887634277344,"y":298,"z":"a62c67b8.59d398","wires":[]},{"id":"39f85ed5.a1229a","type":"smsarchive","debug":false,"name":"","x":469,"y":505.25,"z":"a62c67b8.59d398","wires":[["9f507ff0.875d4","c4499881.162568"]]},{"id":"b3164ad8.15ae7","type":"login","debug":false,"name":"Login user","username":"","password":"","x":284.1388931274414,"y":562.6111335754395,"z":"a62c67b8.59d398","wires":[["39f85ed5.a1229a","182000f5.fb7f1f"]]},{"id":"9cfd215e.0715a","type":"http in","name":"SMS Archive","url":"/smsarchive","method":"get","x":87.33332824707031,"y":474.9722328186035,"z":"a62c67b8.59d398","wires":[["39f85ed5.a1229a"]]},{"id":"182000f5.fb7f1f","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":448.99999618530273,"y":605.2499961853027,"z":"a62c67b8.59d398","wires":[]},{"id":"9f507ff0.875d4","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":679.0000267028809,"y":573.583330154419,"z":"a62c67b8.59d398","wires":[]},{"id":"c4499881.162568","type":"http response","name":"","x":678.5833263397217,"y":505.5277671813965,"z":"a62c67b8.59d398","wires":[]},{"id":"f91387ed.e561a","type":"login","debug":false,"name":"","username":"","password":"","x":501.07938385009766,"y":65.14285469055176,"z":"a62c67b8.59d398","wires":[["4d22f33a.7f4364","8173c90b.90bf6"]]},{"id":"61c31048.6f7278","type":"http in","name":"Login","url":"/login","method":"get","x":77.4285659790039,"y":32.428565979003906,"z":"a62c67b8.59d398","wires":[["fa62b21b.059d5"]]},{"id":"4d22f33a.7f4364","type":"http response","name":"","x":673.0000305175781,"y":26.714275360107422,"z":"a62c67b8.59d398","wires":[]},{"id":"8173c90b.90bf6","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":668.857177734375,"y":81.28571319580078,"z":"a62c67b8.59d398","wires":[]},{"id":"86334234.369b9","type":"http in","name":"Logout","url":"/logout","method":"get","x":78.74999618530273,"y":823.5000400543213,"z":"a62c67b8.59d398","wires":[["ebe28221.a543d"]]},{"id":"afa82aaa.d44fb","type":"http response","name":"","x":472.0833511352539,"y":801.2778129577637,"z":"a62c67b8.59d398","wires":[]},{"id":"87d2feb3.ad6af8","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":484.5834045410156,"y":861.0000915527344,"z":"a62c67b8.59d398","wires":[]},{"id":"ebe28221.a543d","type":"logout","debug":false,"name":"","x":272.31114768981934,"y":822.2000751495361,"z":"a62c67b8.59d398","wires":[["afa82aaa.d44fb","87d2feb3.ad6af8"]]},{"id":"7ac0e5c0.853f1c","type":"http in","name":"Login post","url":"/loginpost","method":"post","x":79.09091186523438,"y":92.09091186523438,"z":"a62c67b8.59d398","wires":[["f91387ed.e561a"]]},{"id":"53b049bd.ac4fb8","type":"http in","name":"SMS Count","url":"/smscount","method":"get","x":81.09091186523438,"y":298.0909118652344,"z":"a62c67b8.59d398","wires":[["378e6dd0.a71412"]]},{"id":"69562a0c.96a9d4","type":"http in","name":"Login SMS Archive","url":"/loginsmsarchive","method":"get","x":90.10101318359375,"y":562.3232354058159,"z":"a62c67b8.59d398","wires":[["b3164ad8.15ae7"]]},{"id":"bbcd5da7.4432a","type":"http in","name":"Telenor SMS","url":"/telenorsms","method":"get","x":93.09091186523438,"y":947.7273864746094,"z":"a62c67b8.59d398","wires":[["592acec3.a6d53"]]},{"id":"e3408c97.1cbf7","type":"http response","name":"","x":555.0909118652344,"y":949.7273290886369,"z":"a62c67b8.59d398","wires":[]},{"id":"592acec3.a6d53","type":"template","name":"Telenor SMS","field":"payload","format":"handlebars","template":"<!--\n  Jo Torsmyr\n  Licensed under the Apache License, Version 2.0 (the \"License\");\n  you may not use this file except in compliance with the License.\n  You may obtain a copy of the License at\n  http://www.apache.org/licenses/LICENSE-2.0\n  Unless required by applicable law or agreed to in writing, software\n  distributed under the License is distributed on an \"AS IS\" BASIS,\n  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n  See the License for the specific language governing permissions and\n  limitations under the License.\n-->\n\n<!DOCTYPE html>\n<html>\n<head>\n\n<script language=\"JavaScript\" type=\"text/javascript\" src=\"cryptico.min.js\"></script>\n\n<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>\n<title>Telenor SMS</title>\n\n<style type='text/css'>\n#unicornanimation #animation img {\n    display: none;\n}\n#unicornanimation #animation img:first-child {\n    display: none;\n}\n#animation { \n    background-repeat: no-repeat; \n    height: 102px; \n    width: 140px; \n    display: none;\n}\n#smstable, #smstable tr, #smstable th, #smstable td {\n   border: 1px solid black;\n}\n</style>\n\n<script charset='UTF-8'>\n/* global console, alert */\n/*jshint devel : true*/\n\n'use strict';\n\nvar DEBUG_MODE = true;\nvar ALERT_MODE = false;\n\nfunction debugLog() {\n  if (DEBUG_MODE) {\n     Array.prototype.unshift.call(arguments, 'telenorsms');\n     var debugtext = '';\n     for (var i = 0; i < arguments.length; i++)\n         debugtext += arguments[i].toString() + (i < (arguments.length - 1) ? ', ' : '');\n     console.log(debugtext);\n\n     if (ALERT_MODE) alert(debugtext);\n  }\n}\n\n//var HOST = 'http://noderedjo2.mybluemix.net';\nvar HOST = 'http://localhost:1880';\nvar animationHTML, animationTimeout, loginHTML;\nvar freeSMSUrl = HOST + '/smscount';\nvar smsArchiveUrl = HOST + '/smsarchive';\nvar smsContactsUrl = HOST + '/smscontacts';\nvar logoutUrl = HOST + '/logout';\nvar loginUrl = HOST + '/login';\nvar sendsmsUrl = HOST + '/sendsms';\nvar selectedRecipient = null;\n\nfunction initOnLoad() {\n  debugLog('telenorsms: JS loaded');\n  loginHTML = document.getElementById('logintable').innerHTML;\n  animationHTML = document.getElementById('unicornanimation').innerHTML;\n  document.getElementById('recipients').disabled = true;\n  document.getElementById('message').disabled = true;\n  document.getElementById('sendSMSbutton').disabled = true;\n}\n\nvar publicKeyString = '63piY/6TULHHXUtYMBSKO1/1ARI2t53hkd7q+shkp9X2FZbDxhVAxVQi1e6Jm2qz0AkyBx4nxJfl+jcvr3tO7Q==';\nfunction getEncryptedValue(str) {\n  var EncryptionResult = cryptico.encrypt(str, publicKeyString);\n\n  var uriEncodedString = encodeURIComponent(EncryptionResult.cipher);\n  return uriEncodedString;\n}\n\nfunction updateLoginStatus(loggedIn, loginStatusMessage) {\n  document.getElementById('loginstatus').innerHTML = loginStatusMessage;\n\n  document.getElementById('recipients').disabled = !loggedIn;\n  document.getElementById('message').disabled = !loggedIn;\n  document.getElementById('sendSMSbutton').disabled = !loggedIn;\n  if (loggedIn) {\n     document.getElementById('logintable').innerHTML = '';\n  } else {\n     document.getElementById('logintable').innerHTML = loginHTML;\n     document.getElementById('freesms').innerHTML = '';\n     document.getElementById('smsarchive').innerHTML = '';\n     document.getElementById('sendsms').innerHTML = '';\n  }\n}\n\nfunction telenorLogout() {\n  telenorRequest(logoutUrl, function(responsePayload) {\n    updateLoginStatus(responsePayload.loggedIn, 'Logout successfull: ' + responsePayload.logoutStatus);\n  });\n}\n\nfunction telenorLogin() {\n  var username = document.getElementById('username').value;\n  var password = document.getElementById('password').value;\n\n  var url = loginUrl;\n\n  url += '?username=' + getEncryptedValue(username);\n  url += '&password=' + getEncryptedValue(password);\n\n  debugLog('url', url);\n\n  document.getElementById('errorstatus').innerHTML = '';\n  telenorRequest(url, function(responsePayload) {\n    debugLog(username);\n    if (responsePayload.loggedIn) {\n       var loggedInString = 'Logged in as ' + responsePayload.name + ' (cell ' + responsePayload.cell + ', username: ' +\n        username + ') ' + '<a href=\\\"javascript:void(0)\\\" onclick=\\\"telenorLogout()\\\">logout</a>';\n       updateLoginStatus(responsePayload.loggedIn, loggedInString);\n       telenorRequest(freeSMSUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('errorstatus').innerHTML = document.getElementById('errorstatus').innerHTML + ', unable to get free SMS status';\n         else\n            document.getElementById('freesms').innerHTML = 'Free SMS left: ' + responsePayload.freesms;\n       });\n       telenorRequest(smsArchiveUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('errorstatus').innerHTML = document.getElementById('errorstatus').innerHTML + ', unable to get sent SMS archive';\n         else\n           document.getElementById('smsarchive').innerHTML = formatSMSArchive(responsePayload.smsarchive);\n       });\n       telenorRequest(smsContactsUrl, function(responsePayload) {\n         if (responsePayload.error)\n            document.getElementById('smscontacts').innerHTML = document.getElementById('errorstatus').innerHTML + JSON.stringify(responsePayload);\n         else\n           document.getElementById('smscontacts').innerHTML = formatSMSContacts(responsePayload.contacts);\n       });\n    } else {\n       updateLoginStatus(responsePayload.loggedIn, 'Login failed');\n    }\n  });\n}\n\nfunction sendSMS() {\n  var recipients = document.getElementById('recipients').value;\n  var message = document.getElementById('message').value;\n\n  var url = sendsmsUrl;\n\n  url += '?recipients=' + getEncryptedValue(recipients);\n  url += '&message=' + getEncryptedValue(message);\n\n  debugLog('url', url);\n\n  document.getElementById('errorstatus').innerHTML = '';\n  telenorRequest(url, function(responsePayload) {\n    document.getElementById('sendsms').innerHTML = 'Send SMS status: ' + responsePayload.sent + ' (description: ' + responsePayload.messageStatus + ')';\n    if (responsePayload.sent)\n       telenorRequest(smsArchiveUrl, function(responsePayload) {\n         document.getElementById('smsarchive').innerHTML = formatSMSArchive(responsePayload.smsarchive);\n       });\n  });\n}\n\nfunction formatSMSArchive(smsArchive) {\n  if (smsArchive && smsArchive.length) {\n     var html = '<table id=\\\"smstable\\\" width=\\\"100%\\\"><tr><td colspan=\\\"3\\\" align=\\\"center\\\"><strong>Sent SMS</strong></td></tr><tr><th>Recipients</th><th>Message</th><th>Sent</th></tr>';\n     for (var i = 0; i < smsArchive.length; i++)\n         html += '<tr><td>' + smsArchive[i].to + '</td><td>' + smsArchive[i].message + '</td><td>' + smsArchive[i].date + '</td></tr>';\n     html += '</table>';\n     return html;\n  } else return '';\n}\n\nfunction addRecipient(recipient) {\n  var recipients = document.getElementById('recipients').value;\n  if (recipients && recipients.length > 0)\n     recipients += ',';\n  recipients += recipient;\n  document.getElementById('recipients').value = recipients;\n}\n\nfunction selectRecipient(recipient) {\n  selectedRecipient = recipient;\n  debugLog('Selected recipient', selectedRecipient);\n}\nfunction addContact() {\n  addRecipient(selectedRecipient);\n}\n\nfunction formatSMSContacts(smsContacts) {\n  if (smsContacts && smsContacts.length) {\n     var html = '<label>Contact list</label>';\n     html += '<input type=\\\"button\\\" value=\\\"Add\\\" onClick=\\\"addContact()\\\"><br>';\n     html += '<select id=\\\"contactstable\\\" size=\\\"10\\\" onclick=\\\"selectRecipient(this.value)\\\" ondblclick=\\\"addRecipient(this.value)\\\">';\n     html += '<optgroup label=\"Contact list\">';\n     for (var i = 0; i < smsContacts.length; i++)\n         html += '<option value=\\\"' + smsContacts[i].number + '\\\">' + smsContacts[i].name + '</option>';\n     html += '</select>';\ndebugLog(html);     \n     return html;\n  } else return '';\n}\n\nfunction telenorRequest(url, responseCallback) {\n  try {\n    var xmlhttpget = new XMLHttpRequest();\n\n    xmlhttpget.onerror = function(error) {\n      debugLog('response onerror', error);        \n    };\n\n    xmlhttpget.open('GET', url, true);\n\n    xmlhttpget.onloadstart = function() {\n      debugLog('onloadstart', xmlhttpget.status);\n//      document.getElementById('meteogram').innerHTML = 'Searching for Yr meteogram for ' + searchParam;\n      startAnimation();\n    };\n\n    xmlhttpget.onloadend = function() {\n      debugLog('onloadend', xmlhttpget.status);\n      stopAnimation();\n      try {\n        if (xmlhttpget.status === 200) {\n           var payload = JSON.parse(xmlhttpget.responseText);\n           debugLog('Response payload', JSON.stringify(payload));\n           if (payload.error)\n              document.getElementById('errorstatus').innerHTML = 'Error: ' + payload.errorMessage;\n           else\n              document.getElementById('errorstatus').innerHTML = '';\n\n           responseCallback(payload);\n        } else {\n           debugLog('onloadend not ok', xmlhttpget.responseText);\n           document.getElementById('errorstatus').innerHTML = 'Error: ' + xmlhttpget.responseText;\n        }\n      } catch (error) {\n        debugLog('onloadend error:', error);\n        document.getElementById('errorstatus').innerHTML = 'Error: ' + xmlhttpget.responseText;\n        document.getElementById('unicornanimation').innerHTML = '';\n      }\n    };\n    xmlhttpget.send(); \n  } catch(error) {\n    debugLog('request error:', error.toString());\n    document.getElementById('errorstatus').innerHTML = 'Error: ' + error.toString();\n    document.getElementById('unicornanimation').innerHTML = '';\n  }\n}\n\nvar unicorns = [\n  { name: 'cancan', height: 1755, width: 120, frames: 15, loop: 1 },\n  { name: 'balloon', height: 2020, width: 120, frames: 20, loop: 1 },\n  { name: 'charging', height: 1530, width: 140, frames: 15, loop: 0 },\n  { name: 'dart', height: 2280, width: 100, frames: 20, loop: 1 },\n  { name: 'kick', height: 2000, width: 151, frames: 20, loop: 1 },\n  { name: 'kiss', height: 2000, width: 172, frames: 20, loop: 1 },\n  { name: 'saber', height: 2160, width: 120, frames: 20, loop: 1 },\n  { name: 'shakehead', height: 1500, width: 125, frames: 10, loop: 0, loopback: 1 },\n  { name: 'thumbsup', height: 2400, width: 80, frames: 20, loop: 1 }\n];\n\n// http://jumpingfishes.com/dancingpurpleunicorns/\nfunction startAnimation() {\n  document.getElementById('unicornanimation').innerHTML = animationHTML;\n  var unicornno = Math.floor((Math.random() * 9));\n  var unicorn = unicorns[unicornno];\n  var frame = 0; \n  var div = document.getElementById('animation'); \n  animationTimeout = setInterval(function () { \n    var frameHeight = unicorn.height / unicorn.frames;\n    div.style.width = unicorn.width + 'px';\n    div.style.height = frameHeight + 'px';\n    div.style.backgroundImage = 'url(\\'http://jumpingfishes.com/dancingpurpleunicorns/' + unicorn.name + '.png\\')';\n    div.style.backgroundPosition = '0px ' + ((frame % unicorn.frames) * -frameHeight) + 'px';        \n    div.style.display = 'block';\n    frame++;\n  }, 100); \n} \nfunction stopAnimation() {\n  clearTimeout(animationTimeout);\n  animationTimeout = -1;\n  document.getElementById('unicornanimation').innerHTML = '';\n}\n\nwindow.onload = initOnLoad;\n\n</script>\n\n</head>\n<body>\n<h1>Telenor SMS</h1><div id='loginstatus'><h2>Not logged in.</h2></div>\n\n<strong><a href='mailto:jo.torsmyr@gmail.com?Subject=telenorsms' target='_blank'>Questions? Contact Jo Torsmyr</a></strong>\n</p>\n<font size=\"1\">(For security - all input values are encrypted using\n<a href='https://www.npmjs.com/package/cryptico' target='_blank'>Cryptico</a>\nbefore sent to server)</font>\n<br>\n\n<div id=\"logintable\">\n<table>\n  <tr>\n    <td><strong>Login:</strong></td>\n  </tr>\n  <tr>\n    <td>Username </td>\n    <td>\n      <input type='text' id='username'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>Password: </td>\n    <td>\n      <input type='password' id='password'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <input type='button' value='Login' id='loginButton' onClick='telenorLogin()'/>\n    </td>\n    </td>\n  </tr>\n  </table>\n</div>\n  <table>\n  <tr>\n    <td><strong>Send SMS</strong></td>\n    <td width=\"100\"/>\n    <td rowspan=\"8\" width=\"200\">\n<div id='unicornanimation'>\n  <div id='animation'>\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging01.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging02.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging03.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging04.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging05.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging06.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging07.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging08.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging09.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging10.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging11.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging12.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging13.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging14.png' />\n    <img src='http://jumpingfishes.com/dancingpurpleunicorns/charging15.png' />\n  </div> \n</div> \n    </td>\n  </tr>\n  <tr>\n    <td>Recipients </td>\n    <td>\n      <input type='text' id='recipients'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>Message </td>\n    <td>\n      <input type='text' id='message'/>\n    </td>\n    </td>\n  </tr>\n  <tr>\n    <td>\n      <input type='button' value='Send' id='sendSMSbutton' onClick='sendSMS()'/>\n    </td>\n    <td>\n      <div id='freesms'>\n      </div> \n    </td>\n    </td>\n  </tr>\n</table>\n\n<div id='errorstatus'></div> \n<div id='sendsms'></div> \n<br>\n<div id='smscontacts'></div> \n<br>\n<div id='smsarchive' style=\"width:500px; height:300px; overflow:auto;\"></div> \n</body>\n</html>","x":355.0909118652344,"y":947.7273290886369,"z":"a62c67b8.59d398","wires":[["e3408c97.1cbf7"]]},{"id":"fa62b21b.059d5","type":"function","name":"Decrypt","func":"var getDecryptedString = context.global.getDecryptedString;\n\nvar username = getDecryptedString(msg.payload.username);\nmsg.payload.username = username.plaintext;\nvar password = getDecryptedString(msg.payload.password);\nmsg.payload.password = password.plaintext;\n\nreturn msg;\n","outputs":1,"valid":true,"x":300.0909118652344,"y":33.090911865234375,"z":"a62c67b8.59d398","wires":[["f91387ed.e561a","984862ab.67b7a"]]},{"id":"984862ab.67b7a","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":514.0909118652344,"y":20.090911865234375,"z":"a62c67b8.59d398","wires":[]},{"id":"30911a01.cf6ee6","type":"catch","name":"","x":71.84092330932617,"y":1291.159013748169,"z":"a62c67b8.59d398","wires":[["daf0e36c.250f2","ea4a5c3f.15b5a"]]},{"id":"c8869699.377968","type":"http response","name":"","x":463.8409538269043,"y":1292.159013748169,"z":"a62c67b8.59d398","wires":[]},{"id":"daf0e36c.250f2","type":"function","name":"Error","func":"\nmsg.payload = msg.error;\nreturn msg;","outputs":1,"valid":true,"x":284.8409233093262,"y":1292.159044265747,"z":"a62c67b8.59d398","wires":[["c8869699.377968"]]},{"id":"ea4a5c3f.15b5a","type":"debug","name":"Error","active":true,"console":"false","complete":"error","x":292.8409233093262,"y":1356.2499805166703,"z":"a62c67b8.59d398","wires":[]},{"id":"4e25a936.b1da58","type":"http in","name":"Send SMS","url":"/sendsms","method":"get","x":73.43434143066406,"y":151.2121124267578,"z":"a62c67b8.59d398","wires":[["5d06683d.a2f998"]]},{"id":"c7f43d2f.380bc","type":"http response","name":"","x":789.7280006408691,"y":148.6049222946167,"z":"a62c67b8.59d398","wires":[]},{"id":"b857e7bb.47a818","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":615.7201194763184,"y":247.99782752990723,"z":"a62c67b8.59d398","wires":[]},{"id":"36645e36.c99ba2","type":"login","debug":false,"name":"Login user","username":"","password":"","x":423.34996795654297,"y":200.6710605621338,"z":"a62c67b8.59d398","wires":[["b857e7bb.47a818","c5557d8.f3aaa8"]]},{"id":"e9af86de.165078","type":"sendsms","recipients":"","message":"","debug":false,"name":"Send SMS","x":518.8618469238281,"y":142.8734211921692,"z":"a62c67b8.59d398","wires":[["c7f43d2f.380bc","52286633.add798"]]},{"id":"52286633.add798","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":796.032543182373,"y":206.11547374725342,"z":"a62c67b8.59d398","wires":[]},{"id":"7d7ae6ff.828518","type":"http in","name":"Login Send SMS","url":"/loginsendsms","method":"get","x":91.87876892089844,"y":201.3029956817627,"z":"a62c67b8.59d398","wires":[["bf199353.40e67"]]},{"id":"5d06683d.a2f998","type":"function","name":"Decrypt","func":"var getDecryptedString = context.global.getDecryptedString;\n\nvar recipients = getDecryptedString(msg.payload.recipients);\nmsg.payload.recipients = recipients.plaintext;\nvar message = getDecryptedString(msg.payload.message);\nmsg.payload.message = message.plaintext;\n\nreturn msg;\n","outputs":1,"valid":true,"x":263.87876892089844,"y":151.3029956817627,"z":"a62c67b8.59d398","wires":[["e9af86de.165078"]]},{"id":"bf199353.40e67","type":"change","name":"Payload","rules":[{"t":"set","p":"smssend","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":265.0174789428711,"y":201.07444190979004,"z":"a62c67b8.59d398","wires":[["36645e36.c99ba2"]]},{"id":"c5557d8.f3aaa8","type":"change","name":"Payload","rules":[{"t":"set","p":"payload","to":"msg.smssend"}],"action":"","property":"","from":"","to":"","reg":false,"x":594.7817668914795,"y":202.44585609436035,"z":"a62c67b8.59d398","wires":[["52286633.add798","e9af86de.165078"]]},{"id":"b47ebee8.4b814","type":"http in","name":"Contacts","url":"/smscontacts","method":"get","x":79.09091186523438,"y":668.7272680534807,"z":"a62c67b8.59d398","wires":[["f688b782.097748"]]},{"id":"20c556ef.df3aaa","type":"http in","name":"","url":"/loginsmscontacts","method":"get","x":80.09091186523438,"y":726.7273254394531,"z":"a62c67b8.59d398","wires":[["244e83b8.dbb17c"]]},{"id":"244e83b8.dbb17c","type":"login","debug":false,"name":"","username":"","password":"","x":280.97979736328125,"y":726.6162738800049,"z":"a62c67b8.59d398","wires":[["f688b782.097748","52794534.ad86bc"]]},{"id":"f688b782.097748","type":"contacts","debug":false,"name":"","x":447.0909118652344,"y":688.7272680534807,"z":"a62c67b8.59d398","wires":[["2a3b76bb.d5c48a","286cae9f.d79352"]]},{"id":"286cae9f.d79352","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":632.3131980895996,"y":742.7273235321045,"z":"a62c67b8.59d398","wires":[]},{"id":"2a3b76bb.d5c48a","type":"http response","name":"","x":634.5454559326172,"y":688.7878551483154,"z":"a62c67b8.59d398","wires":[]},{"id":"52794534.ad86bc","type":"debug","name":"Debug","active":true,"console":"false","complete":"payload","x":448.9899020724826,"y":756.5656552695704,"z":"a62c67b8.59d398","wires":[]},{"id":"7edf4374.8120bc","type":"http in","name":"Simple SMS","url":"/simplesms","method":"get","x":87.84091186523438,"y":1088.2953796386719,"z":"a62c67b8.59d398","wires":[["8d783ab8.7287c8"]]},{"id":"8d783ab8.7287c8","type":"simplesms","sender":"","password":"","recipients":"","message":"","debug":false,"name":"Simple SMS","x":252.91232299804688,"y":1089.7239437103271,"z":"a62c67b8.59d398","wires":[["bc77bb85.438848","1e477df8.e1b882"]]},{"id":"bc77bb85.438848","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":401.34092712402344,"y":1024.7953958511353,"z":"a62c67b8.59d398","wires":[]},{"id":"ac0ddaac.53f228","type":"http response","name":"","x":796.6742668151855,"y":1061.6565494537354,"z":"a62c67b8.59d398","wires":[]},{"id":"908e8f71.6f717","type":"change","name":"Get SMAPI XML","rules":[{"t":"set","p":"originalPayload","to":"msg.payload"},{"t":"set","p":"payload","to":"msg.originalPayload.smapixml"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.3409271240234,"y":1189.0453968048096,"z":"a62c67b8.59d398","wires":[["50ee6f26.af119","343f552e.cbc0aa"]]},{"id":"8b8cca5a.747338","type":"switch","name":"SMAPI?","property":"payload.smapixml","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":557.2565460205078,"y":1124.4966888427734,"z":"a62c67b8.59d398","wires":[["ac0ddaac.53f228","dbcb11ef.2434f"],["908e8f71.6f717"]]},{"id":"50ee6f26.af119","type":"xml","name":"XML to JSON","attr":"$","chr":"_","x":767.0807685852051,"y":1175.977165222168,"z":"a62c67b8.59d398","wires":[["633beb5c.9cc414","3086cf19.cf793"]]},{"id":"9cd458c7.632ba8","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":1082.7272872924805,"y":1142.1590433120728,"z":"a62c67b8.59d398","wires":[]},{"id":"343f552e.cbc0aa","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":762.7272872924805,"y":1235.9090461730957,"z":"a62c67b8.59d398","wires":[]},{"id":"633beb5c.9cc414","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":930.227409362793,"y":1230.9090461730957,"z":"a62c67b8.59d398","wires":[]},{"id":"3086cf19.cf793","type":"function","name":"Stringify","func":"\nmsg.originalPayload.smapi = msg.payload;\ndelete msg.originalPayload.smapixml;\nmsg.payload = JSON.stringify(msg.originalPayload);\nmsg.headers['Content-Type'] = 'application/json; charset=UTF-8';\nmsg.headers['Content-Length'] = Buffer.byteLength(msg.payload, ['utf8']);\nreturn msg;","outputs":1,"valid":true,"x":930.600700378418,"y":1143.1492767333984,"z":"a62c67b8.59d398","wires":[["9cd458c7.632ba8","ac0ddaac.53f228"]]},{"id":"1e477df8.e1b882","type":"function","name":"Parse","func":"\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":416.20130920410156,"y":1118.181749343872,"z":"a62c67b8.59d398","wires":[["8b8cca5a.747338"]]},{"id":"dbcb11ef.2434f","type":"debug","name":"Payload","active":true,"console":"false","complete":"payload","x":751.4772745942281,"y":992.04544271812,"z":"a62c67b8.59d398","wires":[]}]