luftkvalitet/samples/flows/flows_luftkvalitet.json
[{"id":"25a5400f.19ff6","type":"tab","label":"Luftkvalitet","disabled":false,"info":""},{"id":"cd06850a.57d4c8","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"fromtime\" : \"2018-10-01T13:00\",   \"totime\" : \"2018-10-23T15:00\",   \"station\" : \"Kirkeveien\",   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["215eea16.a83946"]]},{"id":"9619b036.0bb17","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":100,"wires":[]},{"id":"215eea16.a83946","type":"luftkvalitet-daily","z":"25a5400f.19ff6","fromtime":"2018-10-01T14:00","totime":"2018-10-20T13:00","station":"Kirkeveien","latitude":"","longitude":"","radius":5,"within":false,"parameter":"PM2.5","debug":true,"name":"Kirkeveien","x":470,"y":100,"wires":[["9619b036.0bb17"]]},{"id":"f69d7088.74f7c","type":"inject","z":"25a5400f.19ff6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1100,"wires":[["6b8de85f.ede1f8"]]},{"id":"abdf7e3.da6c78","type":"debug","z":"25a5400f.19ff6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1100,"wires":[]},{"id":"6b8de85f.ede1f8","type":"luftkvalitet-lookup","z":"25a5400f.19ff6","metadata":"aqis","area":"Oslo","parameter":"PM2.5","debug":true,"name":"AQis Oslo","x":320,"y":1100,"wires":[["abdf7e3.da6c78"]]},{"id":"b3c31189.34807","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["215eea16.a83946"]]},{"id":"4cf2f3f2.8d2d3c","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["85a753e0.34482"]]},{"id":"85a753e0.34482","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.fromtime = '2018-10-01T13:00';\nmsg.totime = '2018-10-23T15:00';\nmsg.station = 'Kirkeveien',\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["215eea16.a83946"]]},{"id":"84814df0.7b758","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"fromtime\" : \"2018-10-01T13:00\",   \"totime\" : \"2018-10-23T15:00\",   \"latitude\" : 59.91,   \"longitude\" : 10.75,   \"radius\" : 5,   \"within\" : true,   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["c33ab779.852ba8"]]},{"id":"fb1ff653.a2abd8","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":240,"wires":[]},{"id":"c33ab779.852ba8","type":"luftkvalitet-daily","z":"25a5400f.19ff6","fromtime":"2018-10-01T14:00","totime":"2018-10-20T13:00","station":"","latitude":"59.91","longitude":"10.75","radius":5,"within":true,"parameter":"PM2.5","debug":true,"name":"Oslo","x":450,"y":240,"wires":[["fb1ff653.a2abd8"]]},{"id":"b1439f13.1c409","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["c33ab779.852ba8"]]},{"id":"c227cd60.fb906","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["4443706f.09f3c"]]},{"id":"4443706f.09f3c","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.fromtime = '2018-10-01T13:00';\nmsg.totime = '2018-10-23T15:00';\nmsg.latitude = 59.91;\nmsg.longitude = 10.75;\nmsg.radius = 5;\nmsg.within  = true;\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["c33ab779.852ba8"]]},{"id":"64d9e4b6.535e2c","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"fromtime\" : \"2018-10-01T13:00\",   \"totime\" : \"2018-10-23T15:00\",   \"station\" : \"Kirkeveien\",   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":420,"wires":[["9f2407c6.d15d18"]]},{"id":"a568bafe.792408","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":460,"wires":[]},{"id":"498a2f4e.a3f3e","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["9f2407c6.d15d18"]]},{"id":"998e4b34.86e318","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["255055eb.83630a"]]},{"id":"255055eb.83630a","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.fromtime = '2018-10-01T13:00';\nmsg.totime = '2018-10-23T15:00';\nmsg.station = 'Kirkeveien',\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["9f2407c6.d15d18"]]},{"id":"23f5853f.33957a","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"fromtime\" : \"2018-10-01T13:00\",   \"totime\" : \"2018-10-23T15:00\",   \"latitude\" : 59.91,   \"longitude\" : 10.75,   \"radius\" : 5,   \"within\" : true,   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["84a7298c.276248"]]},{"id":"57931ca3.160b34","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":600,"wires":[]},{"id":"d188d7c4.0565f8","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["84a7298c.276248"]]},{"id":"541b79c5.7286d8","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["2b48935e.8bb66c"]]},{"id":"2b48935e.8bb66c","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.fromtime = '2018-10-01T13:00';\nmsg.totime = '2018-10-23T15:00';\nmsg.latitude = 59.91;\nmsg.longitude = 10.75;\nmsg.radius = 5;\nmsg.within  = true;\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["84a7298c.276248"]]},{"id":"9f2407c6.d15d18","type":"luftkvalitet-historical","z":"25a5400f.19ff6","fromtime":"2018-10-01T13:00","totime":"2018-10-23T15:00","station":"Kirkeveien","latitude":"","longitude":"","radius":5,"within":false,"parameter":"PM2.5","debug":true,"name":"Kirkeveien","x":490,"y":460,"wires":[["a568bafe.792408"]]},{"id":"84a7298c.276248","type":"luftkvalitet-historical","z":"25a5400f.19ff6","fromtime":"2018-10-01T13:00","totime":"2018-10-23T15:00","station":"","latitude":"59.91","longitude":"10.75","radius":5,"within":true,"parameter":"PM2.5","debug":false,"name":"Oslo","x":470,"y":600,"wires":[["57931ca3.160b34"]]},{"id":"dfb8e77b.b54038","type":"comment","z":"25a5400f.19ff6","name":"Historical","info":"","x":480,"y":420,"wires":[]},{"id":"b3782da4.dfd47","type":"comment","z":"25a5400f.19ff6","name":"Daily","info":"","x":450,"y":60,"wires":[]},{"id":"92fb244e.1303b8","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"areas\" : \"Oslo;Bergen,\",   \"stations\" : \"Kirkeveien\",   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":740,"wires":[["6dde9629.bfc018"]]},{"id":"cc073293.8da6b","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":780,"wires":[]},{"id":"6a52be.2c6bfd44","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["6dde9629.bfc018"]]},{"id":"1a65f7ac.f77d68","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":820,"wires":[["2be6c864.a6da18"]]},{"id":"2be6c864.a6da18","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.areas = 'Oslo;Bergen';\nmsg.stations = 'Kirkeveien';\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["6dde9629.bfc018"]]},{"id":"43672ee6.84ac9","type":"inject","z":"25a5400f.19ff6","name":"Payload","topic":"","payload":"{   \"latitude\" : 59.91,   \"longitude\" : 10.75,   \"radius\" : 5,   \"within\" : true,   \"parameter\" : \"PM2.5\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["87cadfc9.90885"]]},{"id":"e1e7eb12.ea8b98","type":"debug","z":"25a5400f.19ff6","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":920,"wires":[]},{"id":"a00fba05.7e4d58","type":"inject","z":"25a5400f.19ff6","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":920,"wires":[["87cadfc9.90885"]]},{"id":"de0e633f.ee178","type":"inject","z":"25a5400f.19ff6","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":960,"wires":[["c076d57d.2df008"]]},{"id":"c076d57d.2df008","type":"function","z":"25a5400f.19ff6","name":"Msg","func":"msg.latitude = 59.91;\nmsg.longitude = 10.75;\nmsg.radius = 5;\nmsg.within  = true;\nmsg.parameter = \"PM2.5\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["87cadfc9.90885"]]},{"id":"7591d5e7.c595ac","type":"comment","z":"25a5400f.19ff6","name":"Latest","info":"","x":470,"y":740,"wires":[]},{"id":"6dde9629.bfc018","type":"luftkvalitet-latest","z":"25a5400f.19ff6","latitude":"","longitude":"","radius":5,"within":false,"parameter":"PM2.5","areas":"Oslo;Bergen","stations":"Kirkeveien","debug":true,"name":"Kirkeveien","x":490,"y":780,"wires":[["cc073293.8da6b"]]},{"id":"87cadfc9.90885","type":"luftkvalitet-latest","z":"25a5400f.19ff6","latitude":"59.91","longitude":"10.75","radius":5,"within":true,"parameter":"PM2.5","areas":"","stations":"","debug":true,"name":"Oslo","x":470,"y":920,"wires":[["e1e7eb12.ea8b98"]]},{"id":"4b40c9a8.e40b68","type":"comment","z":"25a5400f.19ff6","name":"Lookup","info":"","x":310,"y":1060,"wires":[]}]