luftkvalitet/samples/flows/flows_luftkvalitet_dashboard.json
[{"id":"4684c65e.7184a","type":"tab","label":"Dates","disabled":false,"info":""},{"id":"c3bc557d.886f58","type":"tab","label":"Areas","disabled":false,"info":""},{"id":"78dcca70.b6418c","type":"tab","label":"Components","disabled":false,"info":""},{"id":"59f31de1.f2270c","type":"tab","label":"Chart","disabled":false,"info":""},{"id":"12f43caf.78f05b","type":"tab","label":"Gauges","disabled":false,"info":""},{"id":"4b5ccde1.3777fc","type":"tab","label":"Ping","disabled":false,"info":""},{"id":"b3294412.bd0d98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bf3a0ee4.6744f8","type":"ui_tab","z":"","name":"Luftkvalitet","icon":"dashboard","order":1},{"id":"25dd24a.6f19a5c","type":"ui_group","z":"","name":"Station","tab":"bf3a0ee4.6744f8","order":1,"disp":false,"width":"18","collapse":false},{"id":"b3e41212.8673b","type":"ui_group","z":"","name":"Dates","tab":"bf3a0ee4.6744f8","order":3,"disp":false,"width":"24","collapse":false},{"id":"f26993af.091f28","type":"ui_group","z":"","name":"Chart","tab":"bf3a0ee4.6744f8","order":4,"disp":false,"width":"24","collapse":false},{"id":"24b7f4fd.63399c","type":"ui_group","z":"","name":"GGauge 1","tab":"bf3a0ee4.6744f8","order":5,"disp":false,"width":"6","collapse":false},{"id":"cb01e1c5.8bd98","type":"ui_group","z":"","name":"GGauge 2","tab":"bf3a0ee4.6744f8","order":6,"disp":false,"width":"6","collapse":false},{"id":"23b310c8.64cca","type":"ui_group","z":"","name":"GGauge 3","tab":"bf3a0ee4.6744f8","order":7,"disp":false,"width":"6","collapse":false},{"id":"3a0aaac1.3ab89e","type":"ui_group","z":"","name":"GGauge 4","tab":"bf3a0ee4.6744f8","order":8,"disp":false,"width":"6","collapse":false},{"id":"78f0ddb5.cd779c","type":"ui_group","z":"","name":"GGauge 5","tab":"bf3a0ee4.6744f8","order":9,"disp":false,"width":"6","collapse":false},{"id":"9e03fddc.3e2c88","type":"ui_group","z":"","name":"GGauge 6","tab":"bf3a0ee4.6744f8","order":10,"disp":false,"width":"6","collapse":false},{"id":"fb4bf5c9.0e294","type":"ui_group","z":"","name":"Map","tab":"bf3a0ee4.6744f8","order":2,"disp":false,"width":"18","collapse":false},{"id":"7c0127c.4201b58","type":"luftkvalitet-lookup","z":"c3bc557d.886f58","metadata":"areas","area":"","parameter":"","debug":false,"name":"Areas","x":250,"y":140,"wires":[["59b5cd0f.fad714","57a8665b.8d966"]]},{"id":"59b5cd0f.fad714","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":100,"wires":[]},{"id":"12034f92.80844","type":"inject","z":"c3bc557d.886f58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["7c0127c.4201b58"]]},{"id":"2fcfc92e.54843e","type":"ui_dropdown","z":"c3bc557d.886f58","name":"","label":"Areas","place":"Select area","group":"25dd24a.6f19a5c","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":610,"y":140,"wires":[["27944ccc.8b0db4","5ec95fb9.86f938"]]},{"id":"57a8665b.8d966","type":"function","z":"c3bc557d.886f58","name":"Areas","func":"\nmsg.options = msg.payload.map(area => area.area);\nmsg.payload = msg.options[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["2fcfc92e.54843e","7460084c.7398f8"]]},{"id":"dfcbc85e.e8b46","type":"ui_dropdown","z":"c3bc557d.886f58","name":"","label":"Stations","place":"Select station","group":"25dd24a.6f19a5c","order":2,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":300,"wires":[["388c1b43.c0ec74","41635710.4c46d"]]},{"id":"d704a32b.a0fff8","type":"function","z":"c3bc557d.886f58","name":"Stations","func":"\nmsg.options = msg.payload.map(station => station.station);\n\nif (msg.closest)\n   msg.payload = msg.closest.station;\nelse\n   msg.payload = msg.options[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["dfcbc85e.e8b46","c28027c2.eb09e"]]},{"id":"27944ccc.8b0db4","type":"function","z":"c3bc557d.886f58","name":"Area","func":"msg.area = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":140,"wires":[["fa9ef256.659ca8","5aec05e5.0fad3c"]]},{"id":"fa9ef256.659ca8","type":"luftkvalitet-lookup","z":"c3bc557d.886f58","metadata":"stations","area":"","parameter":"","debug":false,"name":"Stations","x":220,"y":280,"wires":[["d704a32b.a0fff8","da9110.28f1bef"]]},{"id":"7460084c.7398f8","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":100,"wires":[]},{"id":"5ec95fb9.86f938","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":100,"wires":[]},{"id":"da9110.28f1bef","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":260,"wires":[]},{"id":"c28027c2.eb09e","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":560,"y":260,"wires":[]},{"id":"388c1b43.c0ec74","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":300,"wires":[]},{"id":"5aec05e5.0fad3c","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":140,"wires":[]},{"id":"833eea3d.c4675","type":"ui_date_picker","z":"4684c65e.7184a","name":"From date","label":"From date","group":"b3e41212.8673b","order":1,"width":"6","height":"1","passthru":true,"topic":"","x":590,"y":160,"wires":[["593b5952.de278","5060a79e.fc2e78"]]},{"id":"3a63cb45.fa2ab4","type":"inject","z":"4684c65e.7184a","name":"Today","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":90,"y":300,"wires":[["18868421.be7bd4"]]},{"id":"18868421.be7bd4","type":"function","z":"4684c65e.7184a","name":"Today","func":"var startDate = new Date(new Date().getTime() - (0 * 60 * 60 * 24 * 1000));\nstartDate.setHours(0);\nstartDate.setMinutes(0);\nstartDate.setSeconds(0);\n//startDate.setMilliseconds(0);\n\nvar endDate = new Date();\nendDate.setHours(23);\nendDate.setMinutes(59);\nendDate.setSeconds(59);\n//endDate.setMilliseconds(0);\n\nglobal.set('chartPeriod', {\n  startDate : startDate.getTime(),\n  endDate : endDate.getTime(),\n  init : true\n});\n\nreturn [\n  { payload : startDate.getTime() },\n  { payload : endDate.getTime() }\n];","outputs":2,"noerr":0,"x":310,"y":300,"wires":[["833eea3d.c4675"],["e82de1ea.9aa82"]]},{"id":"e82de1ea.9aa82","type":"ui_date_picker","z":"4684c65e.7184a","name":"To date","label":"To date","group":"b3e41212.8673b","order":2,"width":"6","height":"1","passthru":true,"topic":"","x":600,"y":440,"wires":[["e6d1e7b7.b5904","a3cf751d.d8424"]]},{"id":"e124250c.42cec8","type":"link out","z":"4684c65e.7184a","name":"chart_from_date","links":["9f09b005.79ea48","a592dece.d07318"],"x":955,"y":160,"wires":[]},{"id":"458af332.6dd2c4","type":"link out","z":"4684c65e.7184a","name":"chart_to_date","links":["2b5e53ab.7348fc","a592dece.d07318"],"x":955,"y":440,"wires":[]},{"id":"e6d1e7b7.b5904","type":"function","z":"4684c65e.7184a","name":"To date","func":"var chartPeriod = global.get('chartPeriod');\n\nif (chartPeriod.init)\n   return [{ payload : chartPeriod.endDate }, null, null];\nelse {\n   var today = new Date();\n   today.setHours(0);\n   today.setMinutes(0);\n   today.setSeconds(0);\n   today.setMilliseconds(999);\n\n   if (msg.payload < chartPeriod.startDate || msg.payload > today.getTime())\n      return [null, null, { payload : chartPeriod.endDate }];\n   else {\n      chartPeriod.endDate = msg.payload;\n      global.set('chartPeriod', chartPeriod);\n\n      msg.payload = {\n        startDate : new Date(chartPeriod.startDate),\n        endDate : new Date(msg.payload)\n      };\n\n      return [null, msg, null];\n   }\n}","outputs":3,"noerr":0,"x":840,"y":440,"wires":[["8d47db50.0573d8"],["458af332.6dd2c4"],["428539f8.bc2de"]]},{"id":"593b5952.de278","type":"function","z":"4684c65e.7184a","name":"From date","func":"var chartPeriod = global.get('chartPeriod');\n\nif (chartPeriod.init)\n   return [null, null, { payload : chartPeriod.startDate } ];\nelse {\n   if (msg.payload > chartPeriod.endDate)\n      return [{ payload : chartPeriod.startDate }, null, null];\n   else {\n      chartPeriod.startDate = msg.payload;\n      global.set('chartPeriod', chartPeriod);\n\n      msg.payload = {\n        startDate : new Date(msg.payload),\n        endDate : new Date(chartPeriod.endDate)\n      };\n\n      return [null, msg, null];\n   }\n}","outputs":3,"noerr":0,"x":810,"y":160,"wires":[["84caf1cf.9e9af"],["e124250c.42cec8"],["8d47db50.0573d8"]]},{"id":"8d47db50.0573d8","type":"join","z":"4684c65e.7184a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":300,"wires":[["a933a62d.afadf"]]},{"id":"a933a62d.afadf","type":"function","z":"4684c65e.7184a","name":"Today","func":"var chartPeriod = global.get('chartPeriod');\n\nchartPeriod.init = false;\nglobal.set('chartPeriod', chartPeriod);\n\nmsg.payload = {\n  startDate : new Date(chartPeriod.startDate),\n  endDate : new Date(chartPeriod.endDate)\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["516bfe13.7e532","ff8d19c2.1fe2d8"]]},{"id":"516bfe13.7e532","type":"link out","z":"4684c65e.7184a","name":"chart_from_to_date","links":["cfbd603c.8ecc98"],"x":1015,"y":300,"wires":[]},{"id":"ff8d19c2.1fe2d8","type":"debug","z":"4684c65e.7184a","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":260,"wires":[]},{"id":"a3cf751d.d8424","type":"debug","z":"4684c65e.7184a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":400,"wires":[]},{"id":"84caf1cf.9e9af","type":"delay","z":"4684c65e.7184a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":80,"wires":[["833eea3d.c4675"]]},{"id":"5060a79e.fc2e78","type":"debug","z":"4684c65e.7184a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":80,"wires":[]},{"id":"428539f8.bc2de","type":"delay","z":"4684c65e.7184a","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":520,"wires":[["e82de1ea.9aa82"]]},{"id":"a3fe586e.1d5b68","type":"ui_chart","z":"59f31de1.f2270c","name":"Chart","group":"f26993af.091f28","order":3,"width":"24","height":"8","label":"{{msg.parameter}} - {{msg.label}}","chartType":"line","legend":"false","xformat":"MMM DD. YY, HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"999","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":750,"y":200,"wires":[[],[]]},{"id":"5b24006d.1cd758","type":"function","z":"59f31de1.f2270c","name":"Chart parameters","func":"var chartPeriod = global.get('chartPeriod');\n\nmsg.fromtime = new Date(chartPeriod.startDate).toISOString().substring(0, 16);\nmsg.totime = new Date(chartPeriod.endDate).toISOString().substring(0, 16);\nmsg.parameter = global.get('component');\nmsg.station = global.get('station');\n\nif (msg.parameter && msg.parameter !== 'None')\n   return [ msg, { payload : [] }, null];\nelse\n   return [null, { payload : [] }, msg ];","outputs":3,"noerr":0,"x":250,"y":160,"wires":[["3b7572e2.2b8306","e7d38027.47ff1","e25525e4.b96b5"],["a3fe586e.1d5b68"],["a781679d.727aa"]]},{"id":"2381f324.43e484","type":"ui_dropdown","z":"78dcca70.b6418c","name":"","label":"Components","place":"Select component","group":"25dd24a.6f19a5c","order":3,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":390,"y":140,"wires":[["d9094c34.cc80b","ddefefd.4afe71"]]},{"id":"d9094c34.cc80b","type":"debug","z":"78dcca70.b6418c","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":120,"wires":[]},{"id":"e621f8a0.a9c0c8","type":"link out","z":"78dcca70.b6418c","name":"component","links":["a592dece.d07318"],"x":795,"y":160,"wires":[]},{"id":"a592dece.d07318","type":"link in","z":"59f31de1.f2270c","name":"chart","links":["458af332.6dd2c4","e124250c.42cec8","e621f8a0.a9c0c8","cd42d014.f6ee7"],"x":95,"y":160,"wires":[["5b24006d.1cd758"]]},{"id":"ddefefd.4afe71","type":"function","z":"78dcca70.b6418c","name":"Components","func":"global.set('component', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["e621f8a0.a9c0c8"]]},{"id":"72ddacaf.0254cc","type":"link in","z":"78dcca70.b6418c","name":"component","links":["a7be307a.3b1a08"],"x":75,"y":140,"wires":[["3122be25.7cf56a"]]},{"id":"cfbd603c.8ecc98","type":"link in","z":"c3bc557d.886f58","name":"area","links":["516bfe13.7e532"],"x":120,"y":80,"wires":[["7c0127c.4201b58"]]},{"id":"a7be307a.3b1a08","type":"link out","z":"c3bc557d.886f58","name":"station","links":["72ddacaf.0254cc","9159e782.c5663"],"x":495,"y":440,"wires":[]},{"id":"3b7572e2.2b8306","type":"luftkvalitet-historical","z":"59f31de1.f2270c","fromtime":"a","totime":"b","station":"","latitude":"","longitude":"","radius":5,"within":false,"parameter":"","debug":false,"name":"","x":500,"y":140,"wires":[["ceae26ac.e139f","3a9d4ce.da3e2b4"]]},{"id":"ceae26ac.e139f","type":"function","z":"59f31de1.f2270c","name":"Chart data","func":"if (!(msg.payload && msg.payload.length > 0)) {\n   msg.payload = [];\n   return msg;\n}\nvar label = msg.payload[0].unit;\n\nvar data = msg.payload[0].values\n  .map(measurement => {\n    return { x : new Date(measurement.fromTime).getTime(), y : measurement.value\n  }});\n\nvar chartData = [{\n      series: [msg.parameter],\n      data: [data],\n      labels: [label]\n    }];\n\nmsg.label = label;\nmsg.payload = chartData;\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["a3fe586e.1d5b68","a6c4fef4.b34e18"]]},{"id":"3a9d4ce.da3e2b4","type":"debug","z":"59f31de1.f2270c","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":100,"wires":[]},{"id":"e7d38027.47ff1","type":"debug","z":"59f31de1.f2270c","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":480,"y":80,"wires":[]},{"id":"41635710.4c46d","type":"function","z":"c3bc557d.886f58","name":"Station","func":"global.set('station', msg.payload);\nmsg.stations = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":440,"wires":[["655ab384.ee17b4"]]},{"id":"465db09d.bbc53","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 1","group":"24b7f4fd.63399c","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":140,"wires":[]},{"id":"9159e782.c5663","type":"link in","z":"12f43caf.78f05b","name":"gauge","links":["a7be307a.3b1a08"],"x":35,"y":260,"wires":[["fef257d0.8d8358"]]},{"id":"fef257d0.8d8358","type":"function","z":"12f43caf.78f05b","name":"Latest","func":"var aqis = global.get('aqis');\nfunction getLimits(component) {\n  var aqi = aqis[component] || { good : 500, fair : 500, max : 555 };\n  return {\n    min : 0,\n    segq1 : aqi.good,\n    seg2 : aqi.fair,\n    max : aqi.max\n  };\n}\n\nvar payloads = [];\n\nif (msg.payload && msg.payload.length > 0) {\n   payloads = msg.payload.map(measurement => {\n     return {\n       label : measurement.component,\n       unit : measurement.unit,\n       payload : measurement.value,\n       datetime : measurement.toTime,\n       ui_control : getLimits(measurement.component)\n     }\n   });\n}\n\nvar hides = [];\nvar shows = [];\n\nfor (var i = 0; i < payloads.length; i++) {\n    shows.push('Luftkvalitet_GGauge_' + (i + 1));\n}\nfor (i = payloads.length + 1; i < 7; i++) {\n    hides.push('Luftkvalitet_GGauge_' + i);\n    payloads.push(null)\n}\nhidesPayload = { payload : { group : { hide : hides, show : shows } } };\n\npayloads.unshift(hidesPayload);\n\nreturn payloads;","outputs":7,"noerr":0,"x":150,"y":260,"wires":[["6b1281fd.564438","9426e913.721448"],["465db09d.bbc53","8ece5394.01561"],["a2bf3e6c.93a54","48d8d228.3fdd9c"],["8c9e4b09.b1dce8","987e564a.6438d"],["1ad33ab3.93773d","a172af6.bfb77d"],["28dea75.89b91d8","1940bdcf.0a8722"],["8294ea3a.e57dc","e44989bb.78268"]]},{"id":"a2bf3e6c.93a54","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 2","group":"cb01e1c5.8bd98","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":200,"wires":[]},{"id":"6b1281fd.564438","type":"ui_ui_control","z":"12f43caf.78f05b","name":"","x":358.0000190734863,"y":87.00000190734863,"wires":[[]]},{"id":"8c9e4b09.b1dce8","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 3","group":"23b310c8.64cca","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":280,"wires":[]},{"id":"1ad33ab3.93773d","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 4","group":"3a0aaac1.3ab89e","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":340,"wires":[]},{"id":"28dea75.89b91d8","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 5","group":"78f0ddb5.cd779c","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":400,"wires":[]},{"id":"8294ea3a.e57dc","type":"ui_gauge","z":"12f43caf.78f05b","name":"Gauge 6","group":"9e03fddc.3e2c88","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"350","x":360,"y":460,"wires":[]},{"id":"9426e913.721448","type":"debug","z":"12f43caf.78f05b","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":40,"wires":[]},{"id":"3122be25.7cf56a","type":"function","z":"78dcca70.b6418c","name":"Components","func":"var components = ['None'];\nif (msg.payload && msg.payload.length > 0)\n   components = msg.payload.map(measurement => measurement.component);\n\nvar component = components[0];\nglobal.set('component', component);\n\nmsg.options = components;\nmsg.payload = component;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["2381f324.43e484"]]},{"id":"655ab384.ee17b4","type":"luftkvalitet-latest","z":"c3bc557d.886f58","latitude":null,"longitude":null,"radius":5,"within":false,"parameter":null,"areas":null,"stations":null,"debug":false,"name":null,"x":370,"y":440,"wires":[["a7be307a.3b1a08","99eee37d.6bf8c","f48919a5.7fa0e8"]]},{"id":"99eee37d.6bf8c","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":520,"y":400,"wires":[]},{"id":"c17f248a.6d38b8","type":"ui_toast","z":"59f31de1.f2270c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Error","x":510,"y":380,"wires":[]},{"id":"6bcf5150.e5dae8","type":"catch","z":"59f31de1.f2270c","name":"Error","scope":null,"x":110,"y":380,"wires":[["475f9245.d7a65c","c93be166.3e85e"]]},{"id":"475f9245.d7a65c","type":"debug","z":"59f31de1.f2270c","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":340,"wires":[]},{"id":"c93be166.3e85e","type":"function","z":"59f31de1.f2270c","name":"Error","func":"msg.payload = msg.error ? msg.error.message : \"An error occured...\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["c17f248a.6d38b8"]]},{"id":"fc2f243a.ae4ed8","type":"ui_text","z":"4684c65e.7184a","group":"b3e41212.8673b","order":3,"width":"6","height":"1","name":"Contact","label":"Contact","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":600,"wires":[]},{"id":"32625c37.03502c","type":"inject","z":"4684c65e.7184a","name":"Contact","topic":"","payload":"<a href=\"mailto:jo.torsmyr@gmail.com?Subject=hackAIR\">Jo Torsmyr</a>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":600,"wires":[["fc2f243a.ae4ed8","59f93a35.cb6084"]]},{"id":"59f93a35.cb6084","type":"debug","z":"4684c65e.7184a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":560,"wires":[]},{"id":"36170c62.9d9434","type":"http in","z":"4b5ccde1.3777fc","name":"Ping","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["2262936e.a3925c"]]},{"id":"e623f91e.05e33","type":"debug","z":"4b5ccde1.3777fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"9adc028c.69e2f8","type":"http response","z":"4b5ccde1.3777fc","name":"","statusCode":"","headers":{},"x":530,"y":140,"wires":[]},{"id":"2262936e.a3925c","type":"function","z":"4b5ccde1.3777fc","name":"PIng","func":"msg.payload = 'Pinged luft at: ' + new Date();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["9adc028c.69e2f8","e623f91e.05e33"]]},{"id":"a989ffda.bd57d8","type":"inject","z":"4b5ccde1.3777fc","name":"Ping openaq","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":280,"wires":[["8a377f5d.e430e"]]},{"id":"4a92bc22.f1d9b4","type":"debug","z":"4b5ccde1.3777fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":280,"wires":[]},{"id":"8a377f5d.e430e","type":"http request","z":"4b5ccde1.3777fc","name":"Ping","method":"GET","ret":"txt","url":"https://aq.eu-gb.mybluemix.net/ping","tls":"","x":370,"y":280,"wires":[["4a92bc22.f1d9b4"]]},{"id":"5bbb2cc4.88e69c","type":"inject","z":"c3bc557d.886f58","name":"Latest","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["71fc743d.2a8e74"]]},{"id":"71fc743d.2a8e74","type":"function","z":"c3bc557d.886f58","name":"Station","func":"msg.stations = global.get('station');\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":560,"wires":[["655ab384.ee17b4"]]},{"id":"dde4b879.a5ea6","type":"ui_text","z":"12f43caf.78f05b","group":"24b7f4fd.63399c","order":1,"width":"6","height":"1","name":"Label 1","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"82651ae3.436d58","type":"ui_text","z":"12f43caf.78f05b","group":"cb01e1c5.8bd98","order":1,"width":"6","height":"1","name":"Label 2","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":200,"wires":[]},{"id":"269bac62.462394","type":"ui_text","z":"12f43caf.78f05b","group":"23b310c8.64cca","order":1,"width":"6","height":"1","name":"Label 3","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":280,"wires":[]},{"id":"1345e95a.75e4df","type":"ui_text","z":"12f43caf.78f05b","group":"3a0aaac1.3ab89e","order":1,"width":"6","height":"1","name":"Label 4","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":340,"wires":[]},{"id":"362e660b.3ad49a","type":"ui_text","z":"12f43caf.78f05b","group":"78f0ddb5.cd779c","order":1,"width":"6","height":"1","name":"Label 5","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":400,"wires":[]},{"id":"96100aa5.c685","type":"ui_text","z":"12f43caf.78f05b","group":"9e03fddc.3e2c88","order":1,"width":"6","height":"1","name":"Label 6","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":460,"wires":[]},{"id":"8ece5394.01561","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["24070770.91ea4"]]},{"id":"24070770.91ea4","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"payload","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":140,"wires":[["dde4b879.a5ea6"]]},{"id":"48d8d228.3fdd9c","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["daa548f4.cd59e8"]]},{"id":"daa548f4.cd59e8","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":200,"wires":[["82651ae3.436d58"]]},{"id":"987e564a.6438d","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["5b0e788d.640b98"]]},{"id":"5b0e788d.640b98","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":280,"wires":[["269bac62.462394"]]},{"id":"a172af6.bfb77d","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["a4716bd2.11bb28"]]},{"id":"a4716bd2.11bb28","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":340,"wires":[["1345e95a.75e4df"]]},{"id":"1940bdcf.0a8722","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["cbc96188.21106"]]},{"id":"cbc96188.21106","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":400,"wires":[["362e660b.3ad49a"]]},{"id":"e44989bb.78268","type":"function","z":"12f43caf.78f05b","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["ce28f1e3.4c041"]]},{"id":"ce28f1e3.4c041","type":"moment","z":"12f43caf.78f05b","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":460,"wires":[["96100aa5.c685"]]},{"id":"d80591c7.a36d98","type":"ui_toast","z":"59f31de1.f2270c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Loading chart data...","x":700,"y":40,"wires":[]},{"id":"e25525e4.b96b5","type":"function","z":"59f31de1.f2270c","name":"Loading","func":"msg.payload = 'Loading ' + msg.parameter +  ' chart data for ' + msg.station +\n  ' for period ' + msg.fromtime + ' - ' + msg.totime\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["d80591c7.a36d98"]]},{"id":"a6c4fef4.b34e18","type":"switch","z":"59f31de1.f2270c","name":"Empty chart?","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":880,"y":140,"wires":[["df3a9ef1.e36ac","a781679d.727aa"]]},{"id":"ab403e0.6bd44c","type":"ui_toast","z":"59f31de1.f2270c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"No chart data","x":1060,"y":300,"wires":[]},{"id":"df3a9ef1.e36ac","type":"debug","z":"59f31de1.f2270c","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":80,"wires":[]},{"id":"a781679d.727aa","type":"function","z":"59f31de1.f2270c","name":"No data","func":"msg.payload = 'No ' + msg.parameter +  ' chart data for ' + msg.station +\n  ' for period ' + msg.fromtime + ' - ' + msg.totime\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":300,"wires":[["ab403e0.6bd44c"]]},{"id":"a2663e7f.947608","type":"inject","z":"78dcca70.b6418c","name":"chartPeriod","topic":"","payload":"chartPeriod","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["cb4ce188.06256"]]},{"id":"cb4ce188.06256","type":"debug","z":"78dcca70.b6418c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":360,"wires":[]},{"id":"66e0fd86.0be1a4","type":"inject","z":"78dcca70.b6418c","name":"component","topic":"","payload":"component","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":480,"wires":[["65c26f4d.96989"]]},{"id":"65c26f4d.96989","type":"debug","z":"78dcca70.b6418c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":480,"wires":[]},{"id":"cba7d39c.3f299","type":"inject","z":"78dcca70.b6418c","name":"station","topic":"","payload":"station","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":420,"wires":[["4c535952.51ed5"]]},{"id":"4c535952.51ed5","type":"debug","z":"78dcca70.b6418c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":420,"wires":[]},{"id":"613729ee.c8ba98","type":"inject","z":"78dcca70.b6418c","name":"Component thresholds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":560,"wires":[["b31e86d5.1bd13"]]},{"id":"fbd7464c.3cb498","type":"debug","z":"78dcca70.b6418c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":560,"wires":[]},{"id":"b31e86d5.1bd13","type":"function","z":"78dcca70.b6418c","name":"Components","func":"var aqis = {\n  PM10 : {\n    good : 100,\n    fair : 250,\n    max : 500\n  },\n  'PM2.5' : {\n    good : 60,\n    fair : 120,\n    max : 500\n  },\n  NO2 : {\n    good : 80,\n    fair : 280,\n    max : 500\n  },\n  O3 : {\n    good : 100,\n    fair : 208,\n    max : 1000\n  },\n  CO : {\n    good : 200,\n    fair : 1700,\n    max : 5000\n  },\n  SO2 : {\n    good : 80,\n    fair : 800,\n    max : 2000\n  }\n};\n\nglobal.set('aqis', aqis);\n\nmsg.payload = aqis;\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["fbd7464c.3cb498"]]},{"id":"f48919a5.7fa0e8","type":"function","z":"c3bc557d.886f58","name":"jo2maps","func":"if (msg.payload && msg.payload.length > 0) {\n   var url = 'https://jo2maps.mybluemix.net/map';\n\n   var latest = msg.payload[0];\n\n   if (latest && latest.latitude && latest.longitude) {\n      url += '?latitude=' + latest.latitude +\n        '&longitude=' + latest.longitude;\n      msg.payload = { url : url, location : latest.station };\n   }\n   else msg.payload= { url : '', location : '' };\n}\n\nglobal.set('jo2maps', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":480,"wires":[["122be291.efb5bd","30e53604.7c5afa"]]},{"id":"122be291.efb5bd","type":"debug","z":"c3bc557d.886f58","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":480,"wires":[]},{"id":"ddaa132d.3ac378","type":"ui_template","z":"c3bc557d.886f58","group":"fb4bf5c9.0e294","name":"Closest","order":1,"width":"2","height":"1","format":"<md-button ng-click=\"getgeolocation()\">\n<i class=\"fa fa-2x fa-location-arrow\"></i>\n</md-button>\n\n<div id=\"toast\" ng-click=\"showToast('hide')\">\n  <div id=\"text\"></div>\n</div>\n\n<style>\n#toast {\n    visibility: hidden;\n    margin: auto;\n    background-color: #333;\n    color: #fff;\n    text-align: center;\n    border-radius: 20px;\n    position: fixed;\n    z-index: 1000;\n    top: 30px;\n    right: 30px;\n    white-space: nowrap;\n}\n#toast #text {\n  color: #fff;\n  padding: 16px;\n  overflow: hidden;\n  white-space: nowrap;\n}\n\n#toast.show {\n    visibility: visible;\n}\n#toast.hide {\n    visibility: hidden;\n}\n</style>\n  \n<script>\n// Toast inspired by CodePen:\n// https://codepen.io/kipp0/pen/pPNrrj\n  scope.showToast = function(mode, text, duration) {\n    document.getElementById('toast').className = mode;\n    if (text) document.getElementById('text').innerHTML = text;\n    if (duration) setTimeout(() => this.showToast('hide'), duration);\n  }.bind(scope);\n\n  scope.getgeolocation = function() {\n    this.showToast('show', 'Get geolocation...');\n    if (window.navigator.geolocation) {\n       window.navigator.geolocation.getCurrentPosition(\n         position => {\n           this.showToast('hide');\n           this.send({ payload : {\n             latitude : position.coords.latitude,\n             longitude : position.coords.longitude }});\n         },\n         positionError => this.showToast('show', 'Geolocation error: ' + positionError.message, 5000),\n         { timeout : 10000 }\n       );\n    } else {\n       this.showToast('show', 'Geolocation not supported', 5000);\n    }\n  }.bind(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":100,"y":700,"wires":[["8abd6fe1.a69288","811e7723.d1b8e"]]},{"id":"811e7723.d1b8e","type":"debug","z":"c3bc557d.886f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":660,"wires":[]},{"id":"10c3aeca.8a7249","type":"function","z":"c3bc557d.886f58","name":"Closest","func":"if (msg.payload && msg.payload.length > 0)\n   msg.closest = msg.payload[0];\n   \nif (msg.closest) {\n   msg.payload = msg.closest.area;\n   return [msg, null];\n} else {\n   return [null, { payload : 'No station within radius ' + flow.get('radius') + ' kilometers!'} ];\n}\n","outputs":2,"noerr":0,"x":680,"y":700,"wires":[["de84c9a6.793638","3d60854d.06b3f2"],["95bbb0d.80d03d","8933fcb5.bf484"]]},{"id":"6c2f1c68.cc14c4","type":"debug","z":"c3bc557d.886f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":660,"wires":[]},{"id":"de84c9a6.793638","type":"debug","z":"c3bc557d.886f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"closest","x":910,"y":660,"wires":[]},{"id":"3d60854d.06b3f2","type":"link out","z":"c3bc557d.886f58","name":"closest","links":["9358cd1c.b99a8","e951fa4c.d73a7"],"x":855,"y":700,"wires":[]},{"id":"95bbb0d.80d03d","type":"debug","z":"c3bc557d.886f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":800,"wires":[]},{"id":"9e7f0768.229cf","type":"function","z":"c3bc557d.886f58","name":"Closest","func":"flow.set('radius', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":880,"wires":[["f31e2263.89877"]]},{"id":"d7d75ae0.2efdb8","type":"inject","z":"c3bc557d.886f58","name":"Radius","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":880,"wires":[["75245db.9d2c9a4"]]},{"id":"f31e2263.89877","type":"debug","z":"c3bc557d.886f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":880,"wires":[]},{"id":"8abd6fe1.a69288","type":"function","z":"c3bc557d.886f58","name":"Closest","func":"msg.payload.radius = flow.get('radius');\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":700,"wires":[["59ad60ad.c7d3"]]},{"id":"8933fcb5.bf484","type":"ui_toast","z":"c3bc557d.886f58","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"No nearby","x":890,"y":760,"wires":[]},{"id":"59ad60ad.c7d3","type":"luftkvalitet-latest","z":"c3bc557d.886f58","latitude":"","longitude":"","radius":5,"within":true,"parameter":"","areas":"","stations":"","debug":false,"name":"","x":480,"y":700,"wires":[["10c3aeca.8a7249","6c2f1c68.cc14c4"]]},{"id":"30e53604.7c5afa","type":"ui_template","z":"c3bc557d.886f58","group":"fb4bf5c9.0e294","name":"jo2maps","order":3,"width":"6","height":"1","format":"<h3>\n    <img width=\"16\" height=\"16\" src=\"https://upload.wikimedia.org/wikipedia/commons/4/48/GoogleMaps_logo.svg\">\n    <a target=\"_blank\" style=\"color:lime\" href=\"{{msg.payload.url}}\">{{msg.payload.location}}</a>\n</h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":680,"y":520,"wires":[[]]},{"id":"e951fa4c.d73a7","type":"link in","z":"c3bc557d.886f58","name":"closest","links":["3d60854d.06b3f2"],"x":515,"y":180,"wires":[["2fcfc92e.54843e"]]},{"id":"75245db.9d2c9a4","type":"ui_numeric","z":"c3bc557d.886f58","name":"","label":"Radius","group":"fb4bf5c9.0e294","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"20","step":1,"x":270,"y":880,"wires":[["9e7f0768.229cf"]]}]