openaq/samples/flows/flows_openaq_dashboard.json
[{"id":"d6d5f8ab.5443e8","type":"tab","label":"Dates","disabled":false,"info":""},{"id":"223ac12.aeb523e","type":"tab","label":"Location","disabled":false,"info":""},{"id":"4ba7b0d1.9b9fe","type":"tab","label":"Components","disabled":false,"info":""},{"id":"fa2b85e5.400858","type":"tab","label":"Chart","disabled":false,"info":""},{"id":"c7f70144.86fdc","type":"tab","label":"Gauges","disabled":false,"info":""},{"id":"cc387fcf.f9ffe","type":"tab","label":"Ping","disabled":false,"info":""},{"id":"6425c697.e80758","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9a72f0f4.e8c9c","type":"ui_tab","z":"","name":"OpenAQ","icon":"dashboard","order":1},{"id":"e449e88e.f47dd8","type":"ui_group","z":"","name":"Location","tab":"9a72f0f4.e8c9c","order":1,"disp":false,"width":"18","collapse":false},{"id":"29ed716a.b00d6e","type":"ui_group","z":"","name":"Dates","tab":"9a72f0f4.e8c9c","order":3,"disp":false,"width":"18","collapse":false},{"id":"2986943e.3dae7c","type":"ui_group","z":"","name":"Chart","tab":"9a72f0f4.e8c9c","order":4,"disp":false,"width":"18","collapse":false},{"id":"6c00cad9.6a5e94","type":"ui_group","z":"","name":"GGauge 1","tab":"9a72f0f4.e8c9c","order":5,"disp":false,"width":"6","collapse":false},{"id":"5aa0e7b5.e6e758","type":"ui_group","z":"","name":"GGauge 2","tab":"9a72f0f4.e8c9c","order":6,"disp":false,"width":"6","collapse":false},{"id":"65411eb7.b2cde","type":"ui_group","z":"","name":"GGauge 3","tab":"9a72f0f4.e8c9c","order":7,"disp":false,"width":"6","collapse":false},{"id":"c4bfc68.47e9138","type":"ui_group","z":"","name":"GGauge 4","tab":"9a72f0f4.e8c9c","order":8,"disp":false,"width":"6","collapse":false},{"id":"c41c615a.6951b","type":"ui_group","z":"","name":"GGauge 5","tab":"9a72f0f4.e8c9c","order":9,"disp":false,"width":"6","collapse":false},{"id":"7e35516d.471b4","type":"ui_group","z":"","name":"GGauge 6","tab":"9a72f0f4.e8c9c","order":10,"disp":false,"width":"6","collapse":false},{"id":"b53337a6.b3ee28","type":"ui_group","z":"","name":"Map","tab":"9a72f0f4.e8c9c","order":2,"disp":false,"width":"18","collapse":false},{"id":"b9ae66a0.228088","type":"openaq-countries","z":"223ac12.aeb523e","orderby_name":true,"sort_name":"asc","orderby_count":false,"sort_count":"asc","orderby_cities":false,"sort_cities":"asc","orderby_locations":false,"sort_locations":"asc","limit":100,"page":1,"debug":false,"name":"","x":340,"y":120,"wires":[["b8e3cc53.3e674","4cae7972.80a648"]]},{"id":"3a97cb6c.39a2a4","type":"inject","z":"223ac12.aeb523e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["b9ae66a0.228088"]]},{"id":"b8e3cc53.3e674","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":500,"y":80,"wires":[]},{"id":"feceb3dc.3a1b8","type":"ui_dropdown","z":"223ac12.aeb523e","name":"","label":"Countries","place":"Select country","group":"e449e88e.f47dd8","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":660,"y":120,"wires":[["ebaabed6.aafe1","315ec5a3.4528fa","b8f7a05.ecca46"]]},{"id":"4cae7972.80a648","type":"function","z":"223ac12.aeb523e","name":"Countries","func":"msg.options = msg.payload.results.map(country => {\n  var obj = {}; obj[country.name] = country.code; return obj; });\n  \nmsg.payload = msg.payload.results[0].code;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["feceb3dc.3a1b8","52c623ee.f1344c"]]},{"id":"ebaabed6.aafe1","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":120,"wires":[]},{"id":"52c623ee.f1344c","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":80,"wires":[]},{"id":"e20eb8f7.745888","type":"openaq-cities","z":"223ac12.aeb523e","orderby_country":true,"sort_country":"asc","orderby_count":false,"sort_count":"asc","orderby_city":true,"sort_city":"asc","country":"Andorra","limit":100,"page":1,"debug":false,"name":"","x":330,"y":280,"wires":[["21bdee26.2695f2","c27df670.7d13f8"]]},{"id":"315ec5a3.4528fa","type":"function","z":"223ac12.aeb523e","name":"Country","func":"msg.country = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":280,"wires":[["e20eb8f7.745888"]]},{"id":"21bdee26.2695f2","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":240,"wires":[]},{"id":"1f1b9dbe.b6b0a2","type":"ui_dropdown","z":"223ac12.aeb523e","name":"","label":"Cities","place":"Select city","group":"e449e88e.f47dd8","order":2,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":670,"y":280,"wires":[["6af752e8.bd6d3c","e04eba27.22b978"]]},{"id":"c27df670.7d13f8","type":"function","z":"223ac12.aeb523e","name":"Cities","func":"msg.options = msg.payload.results.map(city => city.city );\n\nif (msg.closest)\n   msg.payload = msg.closest.city;\nelse\n   msg.payload = msg.options[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["1f1b9dbe.b6b0a2","edd40ffb.a025d"]]},{"id":"6af752e8.bd6d3c","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":280,"wires":[]},{"id":"f4f45088.ac71e","type":"openaq-locations","z":"223ac12.aeb523e","location":null,"city":null,"country":null,"latitude":null,"longitude":null,"radius":2500,"orderby_location":true,"sort_location":"asc","orderby_city":false,"sort_city":"asc","orderby_country":false,"sort_country":"asc","orderby_distance":false,"sort_distance":"asc","parameter":null,"hasGeo":true,"limit":100,"page":1,"debug":false,"name":"","x":260,"y":440,"wires":[["7b27c7b3.c3f5f8","7ae349c8.ada0f8"]]},{"id":"e04eba27.22b978","type":"function","z":"223ac12.aeb523e","name":"Cities","func":"msg.city = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":440,"wires":[["f4f45088.ac71e"]]},{"id":"7b27c7b3.c3f5f8","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":400,"wires":[]},{"id":"f5281dbf.8ddc6","type":"ui_dropdown","z":"223ac12.aeb523e","name":"Location","label":"Location","place":"Select location","group":"e449e88e.f47dd8","order":3,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":440,"wires":[["ac471641.57f698","31b855b1.01a84a"]]},{"id":"ac471641.57f698","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":760,"y":400,"wires":[]},{"id":"7ae349c8.ada0f8","type":"function","z":"223ac12.aeb523e","name":"Locations","func":"var locations = ['None'];\n\nif (msg.payload.results && msg.payload.results.length > 0)\n   locations = msg.payload.results.map(location => location.location );\n\nvar location = locations[0];\nglobal.set('station', location);\n\nmsg.options = locations;\n\nif (msg.closest)\n   msg.payload = msg.closest.location;\nelse\n   msg.payload = location;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["f5281dbf.8ddc6","3fab6873.10b9e8"]]},{"id":"55b9e9.fcfb8618","type":"ui_date_picker","z":"d6d5f8ab.5443e8","name":"From date","label":"From date","group":"29ed716a.b00d6e","order":1,"width":"6","height":"1","passthru":true,"topic":"","x":590,"y":160,"wires":[["1a01c184.de08fe","d7e205a9.81ab58"]]},{"id":"b9ed2477.17eb58","type":"inject","z":"d6d5f8ab.5443e8","name":"Today","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":90,"y":300,"wires":[["bcb67a0a.60c048"]]},{"id":"bcb67a0a.60c048","type":"function","z":"d6d5f8ab.5443e8","name":"Today","func":"var startDate = new Date(new Date().getTime() - (0 * 60 * 60 * 24 * 1000));\nstartDate.setHours(0);\nstartDate.setMinutes(0);\nstartDate.setSeconds(0);\n//startDate.setMilliseconds(0);\n\nvar endDate = new Date();\nendDate.setHours(23);\nendDate.setMinutes(59);\nendDate.setSeconds(59);\n//endDate.setMilliseconds(0);\n\nglobal.set('chartPeriod', {\n  startDate : startDate.getTime(),\n  endDate : endDate.getTime(),\n  init : true\n});\n\nreturn [\n  { payload : startDate.getTime() },\n  { payload : endDate.getTime() }\n];","outputs":2,"noerr":0,"x":310,"y":300,"wires":[["55b9e9.fcfb8618"],["832e7b0d.672168"]]},{"id":"832e7b0d.672168","type":"ui_date_picker","z":"d6d5f8ab.5443e8","name":"To date","label":"To date","group":"29ed716a.b00d6e","order":2,"width":"6","height":"1","passthru":true,"topic":"","x":600,"y":440,"wires":[["f47445c.0ed86b8","97a2d1d1.4a4cc"]]},{"id":"f672b793.dee038","type":"link out","z":"d6d5f8ab.5443e8","name":"chart_from_date","links":["9f09b005.79ea48","bcc3b606.bbf2e8"],"x":955,"y":160,"wires":[]},{"id":"d4baed43.f77ba","type":"link out","z":"d6d5f8ab.5443e8","name":"chart_to_date","links":["bcc3b606.bbf2e8"],"x":955,"y":440,"wires":[]},{"id":"f47445c.0ed86b8","type":"function","z":"d6d5f8ab.5443e8","name":"To date","func":"var chartPeriod = global.get('chartPeriod');\n\nif (chartPeriod.init)\n   return [{ payload : chartPeriod.endDate }, null, null];\nelse {\n   var today = new Date();\n   today.setHours(0);\n   today.setMinutes(0);\n   today.setSeconds(0);\n   today.setMilliseconds(999);\n\n   if (msg.payload < chartPeriod.startDate || msg.payload > today.getTime())\n      return [null, null, { payload : chartPeriod.endDate }];\n   else {\n      chartPeriod.endDate = msg.payload;\n      global.set('chartPeriod', chartPeriod);\n\n      msg.payload = {\n        startDate : new Date(chartPeriod.startDate),\n        endDate : new Date(msg.payload)\n      };\n\n      return [null, msg, null];\n   }\n}","outputs":3,"noerr":0,"x":840,"y":440,"wires":[["49d862b9.f4031c"],["d4baed43.f77ba"],["4278d003.ab55d"]]},{"id":"1a01c184.de08fe","type":"function","z":"d6d5f8ab.5443e8","name":"From date","func":"var chartPeriod = global.get('chartPeriod');\n\nif (chartPeriod.init)\n   return [null, null, { payload : chartPeriod.startDate } ];\nelse {\n   if (msg.payload > chartPeriod.endDate)\n      return [{ payload : chartPeriod.startDate }, null, null];\n   else {\n      chartPeriod.startDate = msg.payload;\n      global.set('chartPeriod', chartPeriod);\n\n      msg.payload = {\n        startDate : new Date(msg.payload),\n        endDate : new Date(chartPeriod.endDate)\n      };\n\n      return [null, msg, null];\n   }\n}","outputs":3,"noerr":0,"x":810,"y":160,"wires":[["94ec134f.49fc"],["f672b793.dee038"],["49d862b9.f4031c"]]},{"id":"49d862b9.f4031c","type":"join","z":"d6d5f8ab.5443e8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":300,"wires":[["c5a69f2d.38853"]]},{"id":"c5a69f2d.38853","type":"function","z":"d6d5f8ab.5443e8","name":"Today","func":"var chartPeriod = global.get('chartPeriod');\n\nchartPeriod.init = false;\nglobal.set('chartPeriod', chartPeriod);\n\nmsg.payload = {\n  startDate : new Date(chartPeriod.startDate),\n  endDate : new Date(chartPeriod.endDate)\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["dbf3b6af.3e26a8","a421af75.44f22"]]},{"id":"dbf3b6af.3e26a8","type":"link out","z":"d6d5f8ab.5443e8","name":"chart_from_to_date","links":["efd20fc7.62573"],"x":1015,"y":300,"wires":[]},{"id":"a421af75.44f22","type":"debug","z":"d6d5f8ab.5443e8","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1020,"y":260,"wires":[]},{"id":"97a2d1d1.4a4cc","type":"debug","z":"d6d5f8ab.5443e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":400,"wires":[]},{"id":"94ec134f.49fc","type":"delay","z":"d6d5f8ab.5443e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":80,"wires":[["55b9e9.fcfb8618"]]},{"id":"d7e205a9.81ab58","type":"debug","z":"d6d5f8ab.5443e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":80,"wires":[]},{"id":"4278d003.ab55d","type":"delay","z":"d6d5f8ab.5443e8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":520,"wires":[["832e7b0d.672168"]]},{"id":"1365f90e.eb66f7","type":"ui_chart","z":"fa2b85e5.400858","name":"Chart","group":"2986943e.3dae7c","order":3,"width":"18","height":"8","label":"{{msg.parameter}} - {{msg.label}}","chartType":"line","legend":"false","xformat":"MMM DD. YY, HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"999","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":220,"wires":[[],[]]},{"id":"3c391edb.0c0592","type":"function","z":"fa2b85e5.400858","name":"Chart parameters","func":"var chartPeriod = global.get('chartPeriod');\n\nmsg.date_from = new Date(chartPeriod.startDate).toISOString();\nmsg.date_to = new Date(chartPeriod.endDate).toISOString();\nmsg.parameter = global.get('component');\nmsg.location = global.get('station');\n\nif (msg.parameter && msg.parameter !== 'None')\n   return [ msg, { payload : [] }, null];\nelse\n   return [null, { payload : [] }, msg];","outputs":3,"noerr":0,"x":190,"y":160,"wires":[["dd9e2949.70b538","2edf8c8b.a4e794","e65c4fde.b7612"],["1365f90e.eb66f7","8c5bafcf.d6c3"],["ca6b5907.923f28"]]},{"id":"bcc3b606.bbf2e8","type":"link in","z":"fa2b85e5.400858","name":"chart","links":["d4baed43.f77ba","f672b793.dee038","648a6e19.10d95","cd42d014.f6ee7","e61bcff.0d1e33"],"x":35,"y":160,"wires":[["3c391edb.0c0592"]]},{"id":"4ae26e95.efdb4","type":"function","z":"fa2b85e5.400858","name":"Chart data","func":"if (!(msg.payload.results && msg.payload.results.length > 0)) {\n   msg.payload = [];\n   return msg;\n}\n\nvar label = msg.payload.results[0].unit;\n\nvar data = msg.payload.results\n  .map(measurement => {\n    return { \n      x : new Date(measurement.date.utc).getTime(),\n      y : measurement.value\n  }});\n\nvar chartData = [{\n      series: [msg.parameter],\n      data: [data],\n      labels: [label]\n    }];\n\nmsg.label = label;\nmsg.payload = chartData;\nmsg.ui_control = { look : 'line' };\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["1365f90e.eb66f7","7baae851.9cf278","d84ffe9c.7b156"]]},{"id":"33db52f9.eee8fe","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":120,"wires":[]},{"id":"dd9e2949.70b538","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":120,"wires":[]},{"id":"725121f2.cffba","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 1","group":"6c00cad9.6a5e94","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":140,"wires":[]},{"id":"8784cd46.efa63","type":"link in","z":"c7f70144.86fdc","name":"gauge","links":["5d74982.ba38068","e91f4144.fb41a"],"x":35,"y":260,"wires":[["d0ca3f2.a55e6c"]]},{"id":"d0ca3f2.a55e6c","type":"function","z":"c7f70144.86fdc","name":"Latest","func":"var aqis = global.get('aqis');\nfunction getLimits(component) {\n  var aqi = aqis[component] || { good : 500, fair : 500, max : 555 };\n  return {\n    min : 0,\n    segq1 : aqi.good,\n    seg2 : aqi.fair,\n    max : aqi.max\n  };\n}\n\nvar payloads = [];\n\nif (msg.payload.results && msg.payload.results.length > 0) {\n   payloads = msg.payload.results[0].measurements.map(measurement => {\n     return {\n       label : measurement.parameter,\n       unit : measurement.unit,\n       payload : measurement.value,\n       datetime : measurement.lastUpdated,\n       ui_control : getLimits(measurement.parameter)\n     }\n   });\n}\n\nvar hides = [];\nvar shows = [];\n\nfor (var i = 0; i < payloads.length; i++) {\n    shows.push('OpenAQ_GGauge_' + (i + 1));\n}\nfor (i = payloads.length + 1; i < 7; i++) {\n    hides.push('OpenAQ_GGauge_' + i);\n    payloads.push(null)\n}\nhidesPayload = { payload : { group : { hide : hides, show : shows } } };\n\npayloads.unshift(hidesPayload);\n\nreturn payloads;","outputs":7,"noerr":0,"x":150,"y":260,"wires":[["5b02681c.5f83f8","a8afa802.588de8"],["725121f2.cffba","f0a3b0dd.7f15a"],["5bd3a3a3.5b3cfc","3f8a118b.6475ce"],["361efc6e.685054","b0d616b2.d38de8"],["22cdf4a0.7fdedc","1b618953.a806c7"],["9503b904.0c7368","3654292e.e03746"],["3cacdb17.88edb4","7ac7b331.7c87cc"]]},{"id":"5bd3a3a3.5b3cfc","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 2","group":"5aa0e7b5.e6e758","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"0","x":360,"y":200,"wires":[]},{"id":"5b02681c.5f83f8","type":"ui_ui_control","z":"c7f70144.86fdc","name":"","x":358.0000190734863,"y":87.00000190734863,"wires":[[]]},{"id":"361efc6e.685054","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 3","group":"65411eb7.b2cde","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":280,"wires":[]},{"id":"22cdf4a0.7fdedc","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 4","group":"c4bfc68.47e9138","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":340,"wires":[]},{"id":"9503b904.0c7368","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 5","group":"c41c615a.6951b","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":400,"wires":[]},{"id":"3cacdb17.88edb4","type":"ui_gauge","z":"c7f70144.86fdc","name":"Gauge 6","group":"7e35516d.471b4","order":2,"width":"6","height":"4","gtype":"gage","title":"{{msg.label}}","label":"{{msg.unit}}","format":"{{value | number: 2}}","min":0,"max":"0","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":460,"wires":[]},{"id":"a8afa802.588de8","type":"debug","z":"c7f70144.86fdc","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":360,"y":40,"wires":[]},{"id":"6101d8bc.e49858","type":"ui_toast","z":"fa2b85e5.400858","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Error","x":470,"y":380,"wires":[]},{"id":"d5819b4a.736f08","type":"catch","z":"fa2b85e5.400858","name":"Error","scope":null,"x":110,"y":380,"wires":[["a8aff7d.0b42f08","8969e6ad.3c7048"]]},{"id":"a8aff7d.0b42f08","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":340,"wires":[]},{"id":"8969e6ad.3c7048","type":"function","z":"fa2b85e5.400858","name":"Error","func":"msg.payload = msg.error ? msg.error.message : \"An error occured...\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["6101d8bc.e49858"]]},{"id":"7d142ffe.71dbc","type":"ui_text","z":"d6d5f8ab.5443e8","group":"29ed716a.b00d6e","order":4,"width":"6","height":"1","name":"Contact","label":"Contact","format":"{{msg.payload}}","layout":"row-spread","x":300,"y":600,"wires":[]},{"id":"d4b3f041.c7d27","type":"inject","z":"d6d5f8ab.5443e8","name":"Contact","topic":"","payload":"<a href=\"mailto:jo.torsmyr@gmail.com?Subject=hackAIR\">Jo Torsmyr</a>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":600,"wires":[["7d142ffe.71dbc","3465173c.50d3a8"]]},{"id":"3465173c.50d3a8","type":"debug","z":"d6d5f8ab.5443e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":560,"wires":[]},{"id":"3c3f6dba.97b5d2","type":"http in","z":"cc387fcf.f9ffe","name":"Ping","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["68176c1d.62ed84"]]},{"id":"ed7fddca.5dc6f","type":"debug","z":"cc387fcf.f9ffe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":100,"wires":[]},{"id":"8b0d00b5.10a3b","type":"http response","z":"cc387fcf.f9ffe","name":"","statusCode":"","headers":{},"x":530,"y":140,"wires":[]},{"id":"68176c1d.62ed84","type":"function","z":"cc387fcf.f9ffe","name":"PIng","func":"msg.payload = 'Pinged aq at: ' + new Date();\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["8b0d00b5.10a3b","ed7fddca.5dc6f"]]},{"id":"44cae550.5d25fc","type":"inject","z":"cc387fcf.f9ffe","name":"Ping luft","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":280,"wires":[["501a02da.89fcac"]]},{"id":"783df2aa.489d0c","type":"debug","z":"cc387fcf.f9ffe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":280,"wires":[]},{"id":"501a02da.89fcac","type":"http request","z":"cc387fcf.f9ffe","name":"Ping","method":"GET","ret":"txt","url":"https://luft.mybluemix.net/ping","tls":"","x":350,"y":280,"wires":[["783df2aa.489d0c"]]},{"id":"c1ab4afd.e061e8","type":"ui_text","z":"c7f70144.86fdc","group":"6c00cad9.6a5e94","order":1,"width":"6","height":"1","name":"Label 1","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":140,"wires":[]},{"id":"9206d6.ed800928","type":"ui_text","z":"c7f70144.86fdc","group":"5aa0e7b5.e6e758","order":1,"width":"6","height":"1","name":"Label 2","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":200,"wires":[]},{"id":"a1350ec0.770fd","type":"ui_text","z":"c7f70144.86fdc","group":"65411eb7.b2cde","order":1,"width":"6","height":"1","name":"Label 3","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":280,"wires":[]},{"id":"4428e9cb.db3958","type":"ui_text","z":"c7f70144.86fdc","group":"c4bfc68.47e9138","order":1,"width":"6","height":"1","name":"Label 4","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":340,"wires":[]},{"id":"83c23ece.3b947","type":"ui_text","z":"c7f70144.86fdc","group":"c41c615a.6951b","order":1,"width":"6","height":"1","name":"Label 5","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":400,"wires":[]},{"id":"1dd61db5.5b7ca2","type":"ui_text","z":"c7f70144.86fdc","group":"7e35516d.471b4","order":1,"width":"6","height":"1","name":"Label 6","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":460,"wires":[]},{"id":"f0a3b0dd.7f15a","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["a7823cf.11781c"]]},{"id":"3f8a118b.6475ce","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["d61e41c8.02b4a"]]},{"id":"b0d616b2.d38de8","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["2d672c9.39576d4"]]},{"id":"1b618953.a806c7","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["ba3eb547.584548"]]},{"id":"3654292e.e03746","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":400,"wires":[["d4e84cb1.30457"]]},{"id":"7ac7b331.7c87cc","type":"function","z":"c7f70144.86fdc","name":"Date","func":"msg.payload = msg.datetime;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["59848def.fcc634"]]},{"id":"be8656c1.3984f8","type":"inject","z":"223ac12.aeb523e","name":"Latest","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["91cd6380.cba7"]]},{"id":"91cd6380.cba7","type":"function","z":"223ac12.aeb523e","name":"Station","func":"msg.location = global.get('station');\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["1f3afa7b.020636"]]},{"id":"efd20fc7.62573","type":"link in","z":"223ac12.aeb523e","name":"location","links":["dbf3b6af.3e26a8"],"x":140,"y":80,"wires":[["b9ae66a0.228088"]]},{"id":"a7823cf.11781c","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"payload","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":140,"wires":[["c1ab4afd.e061e8"]]},{"id":"d61e41c8.02b4a","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":200,"wires":[["9206d6.ed800928"]]},{"id":"2d672c9.39576d4","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":280,"wires":[["a1350ec0.770fd"]]},{"id":"ba3eb547.584548","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":340,"wires":[["4428e9cb.db3958"]]},{"id":"d4e84cb1.30457","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":400,"wires":[["83c23ece.3b947"]]},{"id":"59848def.fcc634","type":"moment","z":"c7f70144.86fdc","name":"Format date","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD. YY, HH:mm:ss","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Oslo","x":670,"y":460,"wires":[["1dd61db5.5b7ca2"]]},{"id":"2edf8c8b.a4e794","type":"openaq-measurements","z":"fa2b85e5.400858","location":"","city":"","country":"","latitude":"","longitude":"","radius":2500,"value_from":"","value_to":"","date_from":"","date_to":"","orderby_location":false,"sort_location":"asc","orderby_city":false,"sort_city":null,"orderby_country":false,"sort_country":null,"orderby_date":true,"sort_date":"asc","orderby_value":false,"orderby_parameter":false,"parameter":"","hasGeo":false,"limit":100,"page":1,"debug":false,"name":"","x":440,"y":160,"wires":[["4ae26e95.efdb4","33db52f9.eee8fe"]]},{"id":"235851db.3ae99e","type":"ui_dropdown","z":"4ba7b0d1.9b9fe","name":"","label":"Components","place":"Select component","group":"b53337a6.b3ee28","order":1,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":390,"y":140,"wires":[["52346a7f.4ff334","e9ad496c.07b638"]]},{"id":"52346a7f.4ff334","type":"debug","z":"4ba7b0d1.9b9fe","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":120,"wires":[]},{"id":"e61bcff.0d1e33","type":"link out","z":"4ba7b0d1.9b9fe","name":"component","links":["bcc3b606.bbf2e8"],"x":795,"y":160,"wires":[]},{"id":"e9ad496c.07b638","type":"function","z":"4ba7b0d1.9b9fe","name":"Components","func":"global.set('component', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["e61bcff.0d1e33"]]},{"id":"70fc332e.f06e8c","type":"link in","z":"4ba7b0d1.9b9fe","name":"component","links":["e91f4144.fb41a"],"x":75,"y":140,"wires":[["a765087c.c11808"]]},{"id":"a765087c.c11808","type":"function","z":"4ba7b0d1.9b9fe","name":"Components","func":"var components = ['None'];\nif (msg.payload.results && msg.payload.results.length > 0)\n   components = msg.payload.results[0].measurements.map(measurement => measurement.parameter);\n\nvar component = components[0];\nglobal.set('component', component);\n\nmsg.options = components;\nmsg.payload = component;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":140,"wires":[["235851db.3ae99e"]]},{"id":"e91f4144.fb41a","type":"link out","z":"223ac12.aeb523e","name":"location","links":["70fc332e.f06e8c","8784cd46.efa63"],"x":1035,"y":440,"wires":[]},{"id":"1f3afa7b.020636","type":"openaq-latest","z":"223ac12.aeb523e","location":null,"city":null,"country":null,"latitude":null,"longitude":null,"radius":2500,"orderby_location":true,"sort_location":"asc","orderby_city":false,"sort_city":null,"orderby_country":false,"sort_country":null,"orderby_distance":false,"sort_distance":null,"parameter":null,"hasGeo":false,"limit":100,"page":1,"debug":false,"name":null,"x":930,"y":480,"wires":[["e91f4144.fb41a","6ee385b6.dfe4ac","fe88375.b13c7c8"]]},{"id":"31b855b1.01a84a","type":"function","z":"223ac12.aeb523e","name":"Locations","func":"if (msg.payload && msg.payload !== 'None') {\n   global.set('station', msg.payload);\n   msg.location = msg.payload;\n   return [ null, msg ];\n} else\n   return [{ payload : [] }, null];\n\nreturn msg;","outputs":2,"noerr":0,"x":760,"y":440,"wires":[["7737ca86.46bf94","e91f4144.fb41a"],["1f3afa7b.020636"]]},{"id":"6ee385b6.dfe4ac","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1080,"y":480,"wires":[]},{"id":"7baae851.9cf278","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":820,"y":120,"wires":[]},{"id":"8c5bafcf.d6c3","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":400,"y":260,"wires":[]},{"id":"711a5b84.522844","type":"ui_toast","z":"fa2b85e5.400858","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Loading chart data...","x":640,"y":60,"wires":[]},{"id":"e65c4fde.b7612","type":"function","z":"fa2b85e5.400858","name":"Loading","func":"msg.payload = 'Loading ' + msg.parameter +  ' chart data for ' + msg.location +\n  ' for period ' + msg.date_from + ' - ' + msg.date_to\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["711a5b84.522844"]]},{"id":"d84ffe9c.7b156","type":"switch","z":"fa2b85e5.400858","name":"Empty?","property":"payload","propertyType":"msg","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":160,"wires":[["d52e0182.2d6c1","ca6b5907.923f28"]]},{"id":"7c5779d7.0a28a8","type":"ui_toast","z":"fa2b85e5.400858","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"No chart data","x":1000,"y":300,"wires":[]},{"id":"d52e0182.2d6c1","type":"debug","z":"fa2b85e5.400858","name":"Payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1000,"y":120,"wires":[]},{"id":"edd40ffb.a025d","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":680,"y":240,"wires":[]},{"id":"3fab6873.10b9e8","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":400,"wires":[]},{"id":"ca6b5907.923f28","type":"function","z":"fa2b85e5.400858","name":"No data","func":"msg.payload = 'No ' + msg.parameter +  ' chart data for ' + msg.location +\n  ' for period ' + msg.date_from + ' - ' + msg.date_to\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":300,"wires":[["7c5779d7.0a28a8"]]},{"id":"7737ca86.46bf94","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":400,"wires":[]},{"id":"f6688f9c.aaa05","type":"inject","z":"4ba7b0d1.9b9fe","name":"chartPeriod","topic":"","payload":"chartPeriod","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["29d643fc.91f4fc"]]},{"id":"29d643fc.91f4fc","type":"debug","z":"4ba7b0d1.9b9fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":320,"wires":[]},{"id":"f1a2e084.5fbe9","type":"inject","z":"4ba7b0d1.9b9fe","name":"component","topic":"","payload":"component","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["4c797f21.fd32f"]]},{"id":"4c797f21.fd32f","type":"debug","z":"4ba7b0d1.9b9fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":440,"wires":[]},{"id":"192d1326.e30a0d","type":"inject","z":"4ba7b0d1.9b9fe","name":"station","topic":"","payload":"station","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["2963a2c8.f2a5fe"]]},{"id":"2963a2c8.f2a5fe","type":"debug","z":"4ba7b0d1.9b9fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":380,"wires":[]},{"id":"a007c30a.ebfe8","type":"inject","z":"4ba7b0d1.9b9fe","name":"Component thresholds","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["ebd36fc5.a94d6"]]},{"id":"28e0db14.1837c4","type":"debug","z":"4ba7b0d1.9b9fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":520,"wires":[]},{"id":"ebd36fc5.a94d6","type":"function","z":"4ba7b0d1.9b9fe","name":"Components","func":"var aqis = {\n  pm10 : {\n    good : 100,\n    fair : 250,\n    max : 500\n  },\n  pm25 : {\n    good : 60,\n    fair : 120,\n    max : 500\n  },\n  no2 : {\n    good : 80,\n    fair : 280,\n    max : 500\n  },\n  o3 : {\n    good : 100,\n    fair : 208,\n    max : 1000\n  },\n  co : {\n    good : 200,\n    fair : 1700,\n    max : 5000\n  },\n  so2 : {\n    good : 80,\n    fair : 800,\n    max : 2000\n  }\n};\n\nglobal.set('aqis', aqis);\n\nmsg.payload = aqis;\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["28e0db14.1837c4"]]},{"id":"fe88375.b13c7c8","type":"function","z":"223ac12.aeb523e","name":"jo2maps","func":"if (msg.payload && msg.payload.results && msg.payload.results.length > 0) {\n   var url = 'https://jo2maps.mybluemix.net/map';\n\n   var latest = msg.payload.results[0];\n\n   if (latest && latest.coordinates) {\n      url += '?latitude=' + latest.coordinates.latitude +\n        '&longitude=' + latest.coordinates.longitude;\n      msg.payload = { url : url, location : latest.location };\n   }\n   else msg.payload= { url : '', location : '' };\n}\n\nglobal.set('jo2maps', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":520,"wires":[["fe2fb363.ffdd2","86b4fbae.5c0148"]]},{"id":"25adfb20.9d8c84","type":"inject","z":"4ba7b0d1.9b9fe","name":"jo2maps","topic":"","payload":"jo2maps","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["150f546d.88063c"]]},{"id":"150f546d.88063c","type":"debug","z":"4ba7b0d1.9b9fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":260,"wires":[]},{"id":"fe2fb363.ffdd2","type":"debug","z":"223ac12.aeb523e","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":520,"wires":[]},{"id":"86b4fbae.5c0148","type":"ui_template","z":"223ac12.aeb523e","group":"b53337a6.b3ee28","name":"jo2maps","order":2,"width":"6","height":"1","format":"<h3>\n  <a target=\"_blank\" style=\"color:lime\" href=\"{{msg.payload.url}}\">{{msg.payload.location}}\n    <img width=\"16\" height=\"16\" src=\"https://upload.wikimedia.org/wikipedia/commons/4/48/GoogleMaps_logo.svg\">\n  </a>\n</h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1240,"y":560,"wires":[[]]},{"id":"acf9f968.23daa8","type":"ui_template","z":"223ac12.aeb523e","group":"b53337a6.b3ee28","name":"Closest","order":3,"width":"2","height":"1","format":"<md-button ng-click=\"getgeolocation()\">\n<i class=\"fa fa-2x fa-location-arrow\"></i>\n</md-button>\n\n<div id=\"toast\" ng-click=\"showToast('hide')\">\n  <div id=\"text\"></div>\n</div>\n\n<style>\n#toast {\n    visibility: hidden;\n    margin: auto;\n    background-color: #333;\n    color: #fff;\n    text-align: center;\n    border-radius: 20px;\n    position: fixed;\n    z-index: 1000;\n    top: 30px;\n    right: 30px;\n    white-space: nowrap;\n}\n#toast #text {\n  color: #fff;\n  padding: 16px;\n  overflow: hidden;\n  white-space: nowrap;\n}\n\n#toast.show {\n    visibility: visible;\n}\n#toast.hide {\n    visibility: hidden;\n}\n</style>\n  \n<script>\n// Toast inspired by CodePen:\n// https://codepen.io/kipp0/pen/pPNrrj\n  scope.showToast = function(mode, text, duration) {\n    document.getElementById('toast').className = mode;\n    if (text) document.getElementById('text').innerHTML = text;\n    if (duration) setTimeout(() => this.showToast('hide'), duration);\n  }.bind(scope);\n\n  scope.getgeolocation = function() {\n    this.showToast('show', 'Get geolocation...');\n    if (window.navigator.geolocation) {\n       window.navigator.geolocation.getCurrentPosition(\n         position => {\n           this.showToast('hide');\n           this.send({ payload : {\n             latitude : position.coords.latitude,\n             longitude : position.coords.longitude }});\n         },\n         positionError => this.showToast('show', 'Geolocation error: ' + positionError.message, 5000),\n         { timeout : 10000 }\n       );\n    } else {\n       this.showToast('show', 'Geolocation not supported', 5000);\n    }\n  }.bind(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":780,"wires":[["c46715b0.f76628","14ecb444.4b746c"]]},{"id":"14ecb444.4b746c","type":"debug","z":"223ac12.aeb523e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":740,"wires":[]},{"id":"158673e.165848c","type":"function","z":"223ac12.aeb523e","name":"Closest","func":"if (msg.payload.results && msg.payload.results.length > 0)\n   msg.closest = msg.payload.results[0];\n   \nif (msg.closest) {\n   msg.payload = msg.closest.country;\n   return [msg, null];\n} else {\n   return [null, { payload : 'No station within radius ' + flow.get('radius') + ' meters!'} ];\n}\n","outputs":2,"noerr":0,"x":660,"y":780,"wires":[["eaf66134.1fd76","4ed82686.ba1318"],["4675f088.a7c56","b3a621a2.9db6d"]]},{"id":"dec68fe6.3a6e4","type":"openaq-latest","z":"223ac12.aeb523e","location":"","city":"","country":"","latitude":"","longitude":"","radius":2500,"orderby_location":false,"sort_location":"asc","orderby_city":false,"sort_city":null,"orderby_country":false,"sort_country":null,"orderby_distance":true,"sort_distance":"asc","parameter":"","hasGeo":false,"limit":"3","page":1,"debug":false,"name":"Closest","x":480,"y":780,"wires":[["ae321a22.aef568","158673e.165848c"]]},{"id":"ae321a22.aef568","type":"debug","z":"223ac12.aeb523e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":740,"wires":[]},{"id":"eaf66134.1fd76","type":"debug","z":"223ac12.aeb523e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"closest","x":890,"y":740,"wires":[]},{"id":"9358cd1c.b99a8","type":"link in","z":"223ac12.aeb523e","name":"closest","links":["4ed82686.ba1318"],"x":535,"y":160,"wires":[["feceb3dc.3a1b8"]]},{"id":"4ed82686.ba1318","type":"link out","z":"223ac12.aeb523e","name":"closest","links":["9358cd1c.b99a8"],"x":835,"y":780,"wires":[]},{"id":"4675f088.a7c56","type":"debug","z":"223ac12.aeb523e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":880,"wires":[]},{"id":"b8f7a05.ecca46","type":"debug","z":"223ac12.aeb523e","name":"Closest","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"closest","x":860,"y":80,"wires":[]},{"id":"57f56de4.2d0a24","type":"ui_text_input","z":"223ac12.aeb523e","name":"Radius","label":"Radius (meters)","group":"b53337a6.b3ee28","order":0,"width":"2","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":250,"y":960,"wires":[["5c570217.8131ac"]]},{"id":"5c570217.8131ac","type":"function","z":"223ac12.aeb523e","name":"Closest","func":"flow.set('radius', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":960,"wires":[["a234795a.541f18"]]},{"id":"cf748cd4.7f6ce","type":"inject","z":"223ac12.aeb523e","name":"Radius","topic":"","payload":"2500","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":960,"wires":[["57f56de4.2d0a24"]]},{"id":"a234795a.541f18","type":"debug","z":"223ac12.aeb523e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":960,"wires":[]},{"id":"c46715b0.f76628","type":"function","z":"223ac12.aeb523e","name":"Closest","func":"msg.payload.radius = flow.get('radius');\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":780,"wires":[["dec68fe6.3a6e4"]]},{"id":"b3a621a2.9db6d","type":"ui_toast","z":"223ac12.aeb523e","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"No nearby","x":870,"y":840,"wires":[]}]