openaq/samples/flows/flows_openaq.json
[{"id":"a52515cc.760fc8","type":"tab","label":"Open AQ","disabled":false,"info":""},{"id":"42a5044e.a9692c","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["75e35938.4970b8"]]},{"id":"9514715.fafaf9","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":620,"y":500,"wires":[]},{"id":"3ecabdb.b24d342","type":"http in","z":"a52515cc.760fc8","name":"Simulate error","url":"/errortest/*","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1280,"wires":[["747f1721.761428","d7b062a6.2af36"]]},{"id":"747f1721.761428","type":"template","z":"a52515cc.760fc8","name":"Simulate error","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>503 Service Unavailable</title>\n</head><body>\n<h1>Service Unavailable</h1>\n<p>The server is temporarily unable to service your\nrequest due to maintenance downtime or capacity\nproblems. Please try again later.</p>\n</body></html>","output":"str","x":360,"y":1280,"wires":[["ebce3b38.cfa9e8"]]},{"id":"ebce3b38.cfa9e8","type":"http response","z":"a52515cc.760fc8","name":"","statusCode":"","headers":{},"x":550,"y":1280,"wires":[]},{"id":"d7b062a6.2af36","type":"debug","z":"a52515cc.760fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":1240,"wires":[]},{"id":"48a08b69.6fcfe4","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["da3299df.8ccff8"]]},{"id":"7197434d.af6edc","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1060,"wires":[["26fa99d1.af6866"]]},{"id":"e56066b9.a07ac8","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["e9b7478a.1982d8"]]},{"id":"2b0d3940.06e766","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["550e452.5cf61bc"]]},{"id":"3f19a698.5c6fda","type":"debug","z":"a52515cc.760fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":80,"wires":[]},{"id":"27ab883b.501338","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["47990bec.eb30d4"]]},{"id":"c97b6c03.35f79","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"latitude\" : 59.9, \t\"longitude\" : 10.6, \t\"radius\" : 10000, \t\"location\" : \"Kirkeveien\", \t\"city\" : \"Oslo\", \t\"country\" : \"NO\", \t\"parameter\" : \"pm25\", \t\"has_geo\" : true, \t\"limit\" : 2, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"location\",          \"sort\":\"desc\"       },       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       },       {          \"orderby\":\"distance\",          \"sort\":null       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["75e35938.4970b8"]]},{"id":"75e35938.4970b8","type":"openaq-latest","z":"a52515cc.760fc8","location":"","city":"","country":"","latitude":"51.5","longitude":"-0.12","radius":"25000","orderby_location":true,"sort_location":"asc","orderby_city":false,"sort_city":null,"orderby_country":false,"sort_country":null,"orderby_distance":false,"sort_distance":null,"parameter":"","hasGeo":false,"limit":100,"page":1,"debug":true,"name":"","x":430,"y":500,"wires":[["9514715.fafaf9"]]},{"id":"550e452.5cf61bc","type":"openaq-cities","z":"a52515cc.760fc8","orderby_country":false,"sort_country":"asc","orderby_count":false,"sort_count":"asc","orderby_city":true,"sort_city":"asc","country":"NO","limit":100,"page":1,"debug":false,"name":"","x":440,"y":80,"wires":[["3f19a698.5c6fda"]]},{"id":"47990bec.eb30d4","type":"openaq-fetches","z":"a52515cc.760fc8","orderby_timeStarted":true,"sort_timeStarted":"asc","orderby_timeEnded":false,"sort_timeEnded":"asc","limit":100,"page":1,"debug":true,"name":"","x":460,"y":360,"wires":[["5d5afe8d.6a695"]]},{"id":"e9b7478a.1982d8","type":"openaq-parameters","z":"a52515cc.760fc8","orderby_name":true,"sort_name":"asc","orderby_preferredUnit":false,"sort_preferredUnit":null,"orderby_id":false,"sort_id":null,"limit":100,"page":1,"debug":true,"name":"","x":470,"y":920,"wires":[["adbdce28.a8dff"]]},{"id":"26fa99d1.af6866","type":"openaq-sources","z":"a52515cc.760fc8","orderby_city":true,"sort_city":"asc","orderby_country":true,"sort_country":"asc","limit":"200","page":1,"debug":true,"name":"","x":460,"y":1060,"wires":[["ff08560f.5cfef8"]]},{"id":"13d893c7.48854c","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":780,"wires":[["d4f9effc.66cc"]]},{"id":"da3299df.8ccff8","type":"openaq-locations","z":"a52515cc.760fc8","location":"Kirkeveien","city":"","country":"","latitude":"","longitude":"","radius":"","orderby_location":true,"sort_location":"asc","orderby_city":false,"sort_city":"asc","orderby_country":false,"sort_country":"asc","orderby_distance":false,"sort_distance":"asc","parameter":"","hasGeo":true,"limit":100,"page":1,"debug":true,"name":"","x":460,"y":640,"wires":[["435b962c.4ce748"]]},{"id":"d4f9effc.66cc","type":"openaq-measurements","z":"a52515cc.760fc8","location":"Bygdøy Alle","city":"Oslo","country":"NO","latitude":"","longitude":"","radius":2500,"value_from":"","value_to":"","date_from":"2018-10-01T09:00:00","date_to":"2018-10-31T09:00:00","orderby_location":false,"sort_location":"asc","orderby_city":false,"sort_city":null,"orderby_country":false,"sort_country":null,"orderby_date":true,"sort_date":"desc","orderby_value":false,"orderby_parameter":false,"parameter":"pm25","hasGeo":false,"limit":"1000","page":1,"debug":true,"name":"","x":480,"y":780,"wires":[["551be7f6.451fe8"]]},{"id":"8b1f0120.00758","type":"inject","z":"a52515cc.760fc8","name":"Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["19035c03.009f54"]]},{"id":"19035c03.009f54","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.latitude = 59.9;\nmsg.longitude = 10.6;\nmsg.radius = 10000;\nmsg.location = 'Kirkeveien';\nmsg.city = 'Oslo';\nmsg.country = 'NO';\nmsg.parameter = 'pm25';\nmsg.has_geo = true;\nmsg.limit = 2;\nmsg.page = 1;\nmsg.orderby = [\n  {\n    orderby: 'location',\n    sort: 'desc'\n  },\n  {\n    orderby : 'city',\n    sort : 'desc'\n  },\n  {\n    orderby : 'country',\n    sort : 'desc'\n  },\n  {\n    orderby : 'distance',\n    sort : null\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["75e35938.4970b8"]]},{"id":"3810aff6.1b413","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"latitude\" : 59.9, \t\"longitude\" : 10.6, \t\"radius\" : 10000, \t\"location\" : \"Kirkeveien\", \t\"city\" : \"Oslo\", \t\"country\" : \"NO\", \t\"parameter\" : \"pm25\", \t\"has_geo\" : true, \t\"limit\" : 2, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"location\",          \"sort\":\"desc\"       },       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       },       {          \"orderby\":\"distance\",          \"sort\":null       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["da3299df.8ccff8"]]},{"id":"5f81de9f.b3254","type":"inject","z":"a52515cc.760fc8","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["81971d30.4753"]]},{"id":"81971d30.4753","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.latitude = 59.9;\nmsg.longitude = 10.6;\nmsg.radius = 10000;\nmsg.location = 'Kirkeveien';\nmsg.city = 'Oslo';\nmsg.country = 'NO';\nmsg.parameter = 'pm25';\nmsg.has_geo = true;\nmsg.limit = 2;\nmsg.page = 1;\nmsg.orderby = [\n  {\n    orderby: 'location',\n    sort: 'desc'\n  },\n  {\n    orderby : 'city',\n    sort : 'desc'\n  },\n  {\n    orderby : 'country',\n    sort : 'desc'\n  },\n  {\n    orderby : 'distance',\n    sort : null\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["da3299df.8ccff8"]]},{"id":"5d5afe8d.6a695","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":360,"wires":[]},{"id":"435b962c.4ce748","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":640,"wires":[]},{"id":"551be7f6.451fe8","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":780,"wires":[]},{"id":"adbdce28.a8dff","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":920,"wires":[]},{"id":"ff08560f.5cfef8","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":660,"y":1060,"wires":[]},{"id":"1553b2d2.37248d","type":"inject","z":"a52515cc.760fc8","name":"Config","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["ff4333e7.c312e"]]},{"id":"80b2fb2.32ea208","type":"debug","z":"a52515cc.760fc8","name":"Payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640,"y":220,"wires":[]},{"id":"47ead776.341958","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"country\" : \"NO\", \t\"limit\" : 2, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       },       {          \"orderby\":\"count\",          \"sort\":\"desc\"       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["550e452.5cf61bc"]]},{"id":"4c624f3d.cb67f","type":"inject","z":"a52515cc.760fc8","name":"Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["f8213042.87ee9"]]},{"id":"f8213042.87ee9","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.country = 'NO';\nmsg.limit = 2;\nmsg.page = 1;\nmsg.orderby = [\n  {\n     \"orderby\":\"city\",\n     \"sort\":\"desc\"\n  },\n  {\n     \"orderby\":\"country\",\n     \"sort\":\"desc\"\n  },\n  {\n     \"orderby\":\"count\",\n     \"sort\":\"desc\"\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["550e452.5cf61bc"]]},{"id":"dc73d46.2107428","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"parameter\" : \"pm25\", \t\"limit\" : 2, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       },       {          \"orderby\":\"count\",          \"sort\":\"desc\"       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["ff4333e7.c312e"]]},{"id":"a5d49085.e135f","type":"inject","z":"a52515cc.760fc8","name":"Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["5476b1f9.76198"]]},{"id":"5476b1f9.76198","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.limit = 2;\nmsg.page = 1;\nmsg.orderby = [\n  {\n     \"orderby\":\"city\",\n     \"sort\":\"desc\"\n  },\n  {\n     \"orderby\":\"country\",\n     \"sort\":\"desc\"\n  },\n  {\n     \"orderby\":\"count\",\n     \"sort\":\"desc\"\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["ff4333e7.c312e"]]},{"id":"ff4333e7.c312e","type":"openaq-countries","z":"a52515cc.760fc8","orderby_name":true,"sort_name":"asc","orderby_count":false,"sort_count":"asc","orderby_cities":false,"sort_cities":"asc","orderby_locations":false,"sort_locations":"asc","limit":100,"page":1,"debug":true,"name":"","x":460,"y":220,"wires":[["80b2fb2.32ea208"]]},{"id":"52daee3.28dee1","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"limit\" : 20, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"timeStarted\",          \"sort\":\"desc\"       },       {          \"orderby\":\"timeEnded\",          \"sort\":\"desc\"       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["47990bec.eb30d4"]]},{"id":"86dfeb33.47b358","type":"inject","z":"a52515cc.760fc8","name":"Msg","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["a3c3fe7f.6eedc"]]},{"id":"a3c3fe7f.6eedc","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.limit = 2;\nmsg.page = 1;\nmsg.orderby = [\n  {\n     \"orderby\":\"timeStarted\",\n     \"sort\":\"desc\"\n  },\n  {\n     \"orderby\":\"timeEnded\",\n     \"sort\":\"desc\"\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["47990bec.eb30d4"]]},{"id":"ff81e201.b4c16","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"latitude\" : 59.9, \t\"longitude\" : 10.6, \t\"radius\" : 10000, \t\"city\" : \"Oslo\", \t\"country\" : \"NO\", \t\"parameter\" : \"pm25\", \t\"has_geo\" : true,    \"value_from\" : 10,    \"value_to\" : 100,    \"date_from\" : \"2018-10-01T09:00:00\",    \"date_to\" : \"2018-10-31T09:00:00\", \t\"limit\" : 100, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"location\",          \"sort\":\"desc\"       },       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       },       {          \"orderby\":\"distance\",          \"sort\":null       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":740,"wires":[["d4f9effc.66cc"]]},{"id":"786e337.1c4c8cc","type":"inject","z":"a52515cc.760fc8","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":820,"wires":[["9b0c55ff.9d3858"]]},{"id":"9b0c55ff.9d3858","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.latitude = 59.9;\nmsg.longitude = 10.6;\nmsg.radius = 10000;\nmsg.city = 'Oslo';\nmsg.country = 'NO';\nmsg.parameter = 'pm25';\nmsg.has_geo = true;\nmsg.value_from = 10;\nmsg.value_to = 100;\nmsg.date_from = \"2018-10-01T09:00:00\";\nmsg.date_to = \"2018-10-31T09:00:00\";\nmsg.limit = 100;\nmsg.page = 1;\nmsg.orderby = [\n  {\n    orderby: 'location',\n    sort: 'desc'\n  },\n  {\n    orderby : 'city',\n    sort : 'desc'\n  },\n  {\n    orderby : 'country',\n    sort : 'desc'\n  },\n  {\n    orderby : 'distance',\n    sort : null\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["d4f9effc.66cc"]]},{"id":"56e744bd.324bcc","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"limit\" : 2, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"name\",          \"sort\":\"desc\"       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":880,"wires":[["e9b7478a.1982d8"]]},{"id":"19960c9c.1a3a03","type":"inject","z":"a52515cc.760fc8","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":960,"wires":[["866e427.28776c"]]},{"id":"866e427.28776c","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.limit = 100;\nmsg.page = 1;\nmsg.orderby = [\n  {\n    orderby: 'name',\n    sort: 'desc'\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":960,"wires":[["e9b7478a.1982d8"]]},{"id":"7fd85fc1.b5f15","type":"inject","z":"a52515cc.760fc8","name":"Payload","topic":"","payload":"{ \t\"limit\" : 100, \t\"page\" : 1,    \"orderby\":[       {          \"orderby\":\"city\",          \"sort\":\"desc\"       },       {          \"orderby\":\"country\",          \"sort\":\"desc\"       }    ] }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1020,"wires":[["26fa99d1.af6866"]]},{"id":"69cbce8b.5b2d6","type":"inject","z":"a52515cc.760fc8","name":"Example","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1100,"wires":[["85b86b75.87c708"]]},{"id":"85b86b75.87c708","type":"function","z":"a52515cc.760fc8","name":"Msg","func":"msg.limit = 100;\nmsg.page = 1;\nmsg.orderby = [\n  {\n    orderby: 'city',\n    sort: 'desc'\n  },\n  {\n    orderby: 'country',\n    sort: 'desc'\n  }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["26fa99d1.af6866"]]}]