samples/geonames-yr-flow.json
[{"id":"415419d2.beabe8","type":"http in","name":"Get Yr weather info","url":"/yrinfo","method":"get","x":117.09091186523438,"y":76.25001525878906,"z":"dad71e0b.2528e","wires":[["c2515029.3daeb"]]},{"id":"29c031b1.d63fce","type":"http response","name":"Return Yr Meteogram","x":748.840934753418,"y":46,"z":"dad71e0b.2528e","wires":[]},{"id":"8279002a.7d87","type":"debug","name":"","active":true,"console":"false","complete":"false","x":724.5909309387207,"y":108.7500171661377,"z":"dad71e0b.2528e","wires":[]},{"id":"317acd42.ce8532","type":"debug","name":"","active":true,"console":"false","complete":"false","x":510.34092712402344,"y":138.7500171661377,"z":"dad71e0b.2528e","wires":[]},{"id":"c2515029.3daeb","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"tverilytt","debug":false,"name":"","x":324.84092712402344,"y":76.00001525878906,"z":"dad71e0b.2528e","wires":[["317acd42.ce8532","e1509364.1eaf7"]]},{"id":"b26a649a.4d9598","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"demo","debug":false,"name":"","x":319.70457458496094,"y":405.1137161254883,"z":"dad71e0b.2528e","wires":[["ce8ef39d.31711","d3008e89.2cff7"]]},{"id":"db011062.24fef","type":"http in","name":"Get Yr weather data","url":"/yrdata","method":"get","x":120.70458984375,"y":404.113712310791,"z":"dad71e0b.2528e","wires":[["b26a649a.4d9598"]]},{"id":"918310f2.6e7cf","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":726.7046508789062,"y":354.61369705200195,"z":"dad71e0b.2528e","wires":[]},{"id":"948a1c80.6b75e","type":"http response","name":"Return weather data XML","x":801.95458984375,"y":521.6137447357178,"z":"dad71e0b.2528e","wires":[]},{"id":"b754ba0f.48ab48","type":"xml","name":"XML to JSON","attr":"$","chr":"_","x":303.20459365844727,"y":521.613712310791,"z":"dad71e0b.2528e","wires":[["e6f5d03a.190a3","6db570be.924a9"]]},{"id":"e6f5d03a.190a3","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":451.95459365844727,"y":596.6136837005615,"z":"dad71e0b.2528e","wires":[]},{"id":"6db570be.924a9","type":"function","name":"JSON response type","func":"msg.headers = {'Content-Type' : 'application/json'};\nreturn msg;","outputs":1,"valid":true,"x":542.0934600830078,"y":525.0858726501465,"z":"dad71e0b.2528e","wires":[["948a1c80.6b75e"]]},{"id":"e1509364.1eaf7","type":"weather info","debug":false,"name":"","x":546.9318084716797,"y":56.09092330932617,"z":"dad71e0b.2528e","wires":[["29c031b1.d63fce","8279002a.7d87"]]},{"id":"ce8ef39d.31711","type":"weather data","debug":false,"name":"","x":523.6818389892578,"y":405.34093475341797,"z":"dad71e0b.2528e","wires":[["b754ba0f.48ab48","918310f2.6e7cf"]]},{"id":"d3008e89.2cff7","type":"debug","name":"","active":true,"console":"false","complete":"false","x":504.4545669555664,"y":349.11366271972656,"z":"dad71e0b.2528e","wires":[]},{"id":"e2d30f9d.1d2cf","type":"http in","name":"Get Yr info place","url":"/yrplaceinfo","method":"get","x":113.33332061767578,"y":234.52777862548828,"z":"dad71e0b.2528e","wires":[["62b607cd.9d49f8"]]},{"id":"62b607cd.9d49f8","type":"search place","query":"","maxrows":10,"style":"FULL","username":"tverilytt","debug":false,"name":"","x":337.25000762939453,"y":235.25000762939453,"z":"dad71e0b.2528e","wires":[["6c9b8be4.936474","317acd42.ce8532"]]},{"id":"6c9b8be4.936474","type":"weather info","debug":false,"name":"","x":574.7500114440918,"y":236.50000762939453,"z":"dad71e0b.2528e","wires":[["27c2a4ea.d83d5c","8279002a.7d87"]]},{"id":"27c2a4ea.d83d5c","type":"http response","name":"","x":808.4999961853027,"y":236.49999618530273,"z":"dad71e0b.2528e","wires":[]}]