samples/yr-flow.json
[{"id":"fff0b27c.000f5","type":"http in","name":"Get Yr weather info","url":"/yrinfo","method":"get","x":105.25001525878906,"y":82.25000381469727,"z":"dad71e0b.2528e","wires":[["f5bc1d6a.0a43e"]]},{"id":"53d2891.fac2d78","type":"http response","name":"Return Yr Meteogram","x":737.0000381469727,"y":51.9999885559082,"z":"dad71e0b.2528e","wires":[]},{"id":"5309569e.acf6a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":712.7500343322754,"y":114.7500057220459,"z":"dad71e0b.2528e","wires":[]},{"id":"fe6c29e6.0193d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":498.5000305175781,"y":144.7500057220459,"z":"dad71e0b.2528e","wires":[]},{"id":"f5bc1d6a.0a43e","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"demo","debug":true,"name":"","x":313.0000305175781,"y":82.00000381469727,"z":"dad71e0b.2528e","wires":[["fe6c29e6.0193d8","4a938fb3.b56c7"]]},{"id":"6c836ff9.937c9","type":"lookup place","latitude":60,"longitude":10,"style":"FULL","username":"demo","debug":false,"name":"","x":309.1136474609375,"y":264.8636932373047,"z":"dad71e0b.2528e","wires":[["40a3d7c8.bf5c28","da8eedd0.25711"]]},{"id":"7f85436d.807abc","type":"http in","name":"Get Yr weather data","url":"/yrdata","method":"get","x":110.11366271972656,"y":263.8636894226074,"z":"dad71e0b.2528e","wires":[["6c836ff9.937c9"]]},{"id":"470036df.b8ffc8","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":716.1137237548828,"y":214.36367416381836,"z":"dad71e0b.2528e","wires":[]},{"id":"a5151780.5aeae8","type":"http response","name":"Return weather data XML","x":791.3636627197266,"y":381.3637218475342,"z":"dad71e0b.2528e","wires":[]},{"id":"7ee3d95a.811c28","type":"xml","name":"XML to JSON","attr":"$","chr":"_","x":292.6136665344238,"y":381.3636894226074,"z":"dad71e0b.2528e","wires":[["db90fc0a.246f","dac87ab5.253788"]]},{"id":"db90fc0a.246f","type":"debug","name":"","active":true,"console":"false","complete":"false","x":441.3636665344238,"y":456.36366081237793,"z":"dad71e0b.2528e","wires":[]},{"id":"dac87ab5.253788","type":"function","name":"JSON response type","func":"msg.headers = {'Content-Type' : 'application/json'};\nreturn msg;","outputs":1,"x":522.613639831543,"y":382.61363983154297,"z":"dad71e0b.2528e","wires":[["a5151780.5aeae8"]]},{"id":"4a938fb3.b56c7","type":"weather info","debug":true,"name":"","x":535.0909118652344,"y":62.090911865234375,"z":"dad71e0b.2528e","wires":[["53d2891.fac2d78","5309569e.acf6a8"]]},{"id":"40a3d7c8.bf5c28","type":"weather data","debug":true,"name":"","x":513.0909118652344,"y":265.0909118652344,"z":"dad71e0b.2528e","wires":[["7ee3d95a.811c28","470036df.b8ffc8"]]},{"id":"da8eedd0.25711","type":"debug","name":"","active":true,"console":"false","complete":"false","x":493.86363983154297,"y":208.86363983154297,"z":"dad71e0b.2528e","wires":[]}]