slv/node-red/flows_Jos-MacBook-Pro.local.json
[{"type":"tab","id":"256c60a0.32389","label":"Legemiddel","_def":{"defaults":{"label":{"value":""}}}},{"id":"a1464a27.28d958","type":"sok","z":"256c60a0.32389","legemiddel":"Paralgin Forte","debug":false,"name":"Paralgin Forte","x":350,"y":106,"wires":[["8003528f.69983"]]},{"id":"9bffff47.16413","type":"inject","z":"256c60a0.32389","name":"Paracet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":103,"wires":[["a1464a27.28d958"]]},{"id":"8003528f.69983","type":"debug","z":"256c60a0.32389","name":"","active":true,"console":"false","complete":"false","x":510,"y":107,"wires":[]},{"id":"5b527f15.71559","type":"sok","z":"256c60a0.32389","legemiddel":"Airomir","debug":false,"name":"Airomir","x":338,"y":221,"wires":[["d74a2ee7.60ace"]]},{"id":"cbf0c3a0.418c3","type":"inject","z":"256c60a0.32389","name":"Airomir","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":218,"wires":[["5b527f15.71559"]]},{"id":"d74a2ee7.60ace","type":"debug","z":"256c60a0.32389","name":"","active":true,"console":"false","complete":"false","x":518,"y":222,"wires":[]},{"id":"2938f23e.d7456e","type":"sok","z":"256c60a0.32389","legemiddel":"Breezhaler","debug":false,"name":"Breezhaler","x":349,"y":348,"wires":[["e9ac63c5.8b12a"]]},{"id":"f56551c2.994c1","type":"inject","z":"256c60a0.32389","name":"Breezhaler","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":345,"wires":[["2938f23e.d7456e"]]},{"id":"e9ac63c5.8b12a","type":"debug","z":"256c60a0.32389","name":"","active":true,"console":"false","complete":"false","x":519,"y":349,"wires":[]},{"id":"f7432801.20abd8","type":"sok","z":"256c60a0.32389","legemiddel":"Empty","debug":false,"name":"Empty","x":335,"y":475,"wires":[["43c2c6ba.8f0ac8"]]},{"id":"947f8902.4c0d28","type":"inject","z":"256c60a0.32389","name":"Empty","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":472,"wires":[["f7432801.20abd8"]]},{"id":"43c2c6ba.8f0ac8","type":"debug","z":"256c60a0.32389","name":"","active":true,"console":"false","complete":"false","x":525,"y":476,"wires":[]}]