slv/node-red/flows_jos-macbook-pro.osl.no.ibm.com.json
[{"type":"tab","id":"f4e31b2a.7d1328","label":"Flow 1","_def":{"defaults":{"label":{"value":""}}}},{"id":"e5cc3b8f.18c7c8","type":"sok","z":"f4e31b2a.7d1328","legemiddel":"Paralgin Forte","debug":false,"name":"Paralgin Forte","x":350,"y":106,"wires":[["3be710de.8bb8d"]]},{"id":"d7341034.265b7","type":"inject","z":"f4e31b2a.7d1328","name":"Paracet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":103,"wires":[["e5cc3b8f.18c7c8"]]},{"id":"3be710de.8bb8d","type":"debug","z":"f4e31b2a.7d1328","name":"","active":true,"console":"false","complete":"false","x":510,"y":107,"wires":[]},{"id":"8a4f96fe.f7fce8","type":"sok","z":"f4e31b2a.7d1328","legemiddel":"Airomir","debug":false,"name":"Airomir","x":338,"y":221,"wires":[["847fd3ef.2f155"]]},{"id":"f6859578.a1a6a8","type":"inject","z":"f4e31b2a.7d1328","name":"Airomir","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":218,"wires":[["8a4f96fe.f7fce8"]]},{"id":"847fd3ef.2f155","type":"debug","z":"f4e31b2a.7d1328","name":"","active":true,"console":"false","complete":"false","x":518,"y":222,"wires":[]},{"id":"b950cfa2.eea03","type":"sok","z":"f4e31b2a.7d1328","legemiddel":"Breezhaler","debug":false,"name":"Breezhaler","x":349,"y":348,"wires":[["55a276e1.a95ee8"]]},{"id":"7e633493.0cc1ec","type":"inject","z":"f4e31b2a.7d1328","name":"Breezhaler","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":345,"wires":[["b950cfa2.eea03"]]},{"id":"55a276e1.a95ee8","type":"debug","z":"f4e31b2a.7d1328","name":"","active":true,"console":"false","complete":"false","x":519,"y":349,"wires":[]}]