slv/node-red/flows_Jos-MacBook-Pro.json
[{"type":"tab","id":"bb271809.3c6c88","label":"Legemiddelsok","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"cb98560f.8a08c8","label":"Preparat og substans","_def":{"defaults":{"label":{"value":""}}}},{"id":"b090b115.1cf1f","type":"inject","z":"bb271809.3c6c88","name":"Paracet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":117,"y":102,"wires":[["61ee4ffd.f01b2"]]},{"id":"a669a5d9.402758","type":"debug","z":"bb271809.3c6c88","name":"","active":true,"console":"false","complete":"false","x":510,"y":107,"wires":[]},{"id":"c1cf2cc.fb811d","type":"inject","z":"bb271809.3c6c88","name":"Airomir","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":218,"wires":[["15451da0.534e42"]]},{"id":"347cc9b.001b536","type":"debug","z":"bb271809.3c6c88","name":"","active":true,"console":"false","complete":"false","x":518,"y":222,"wires":[]},{"id":"674dfa90.251004","type":"inject","z":"bb271809.3c6c88","name":"Breezhaler","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":345,"wires":[["454451ab.f1b29"]]},{"id":"bf84fa16.bde568","type":"debug","z":"bb271809.3c6c88","name":"","active":true,"console":"false","complete":"false","x":519,"y":349,"wires":[]},{"id":"e2656439.8e2588","type":"inject","z":"bb271809.3c6c88","name":"Empty","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121,"y":472,"wires":[["dec92a7a.665768"]]},{"id":"8aeeb41b.476bd8","type":"debug","z":"bb271809.3c6c88","name":"","active":true,"console":"false","complete":"false","x":525,"y":476,"wires":[]},{"id":"61ee4ffd.f01b2","type":"legemiddelsok","z":"bb271809.3c6c88","legemiddel":"Paracet","debug":false,"name":"Paracet","x":295,"y":106,"wires":[["a669a5d9.402758"]]},{"id":"dec92a7a.665768","type":"legemiddelsok","z":"bb271809.3c6c88","legemiddel":"Empty","debug":false,"name":"Empty","x":305,"y":481,"wires":[["8aeeb41b.476bd8"]]},{"id":"454451ab.f1b29","type":"legemiddelsok","z":"bb271809.3c6c88","legemiddel":"Breezhaler","debug":false,"name":"Breezhaler","x":324,"y":348,"wires":[["bf84fa16.bde568"]]},{"id":"15451da0.534e42","type":"legemiddelsok","z":"bb271809.3c6c88","legemiddel":"Airomir","debug":false,"name":"Airomir","x":304,"y":217,"wires":[["347cc9b.001b536"]]},{"id":"9ce63ec9.d2e99","type":"preparatogsubstanssok","z":"cb98560f.8a08c8","legemiddel":"Paracet","debug":false,"name":"Paracet","x":284,"y":82,"wires":[["25125f44.90acf"]]},{"id":"65eb235c.bb650c","type":"inject","z":"cb98560f.8a08c8","name":"Paracet","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":83,"wires":[["9ce63ec9.d2e99"]]},{"id":"25125f44.90acf","type":"debug","z":"cb98560f.8a08c8","name":"","active":true,"console":"false","complete":"false","x":548,"y":86,"wires":[]},{"id":"1af2941d.8bf0fc","type":"preparatogsubstanssok","z":"cb98560f.8a08c8","legemiddel":"Breezhaler","debug":false,"name":"Breezhaler","x":278,"y":192,"wires":[["48f1eda8.0e61e4"]]},{"id":"3ea7d806.8f74f8","type":"inject","z":"cb98560f.8a08c8","name":"Breezhaler","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":191,"wires":[["1af2941d.8bf0fc"]]},{"id":"48f1eda8.0e61e4","type":"debug","z":"cb98560f.8a08c8","name":"","active":true,"console":"false","complete":"false","x":547,"y":193,"wires":[]},{"id":"95c2dfa.4657f2","type":"preparatogsubstanssok","z":"cb98560f.8a08c8","legemiddel":"Etamivan","debug":false,"name":"Etamivan","x":265,"y":296,"wires":[["ce58a3ee.d2662"]]},{"id":"d49bcfd7.b628b","type":"inject","z":"cb98560f.8a08c8","name":"Etamivan","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":295,"wires":[["95c2dfa.4657f2"]]},{"id":"ce58a3ee.d2662","type":"debug","z":"cb98560f.8a08c8","name":"","active":true,"console":"false","complete":"false","x":544,"y":297,"wires":[]}]